
/* Change scrollbar properties here */
:root {
	--scrollbar-width: 12px;
	--scrollbar-thumb-color: #05a;
	--scrollbar-thumb-color-hover: #07d;
	--scrollbar-thumb-color-pressed: #365196;
}

/* Scrollbar theming */
scrollbar,
scrollbar * {
	-moz-appearance: none !important;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
	box-shadow: none !important;
}

scrollbar[orient="vertical"] {
	-moz-margin-start: 0px !important;
	max-width: var(--scrollbar-width) !important;
	min-width: var(--scrollbar-width) !important;
	background: #222 !important;
	cursor: default;
}

scrollbar[orient="horizontal"] {
	margin-top: 0px !important;
	max-height: 12px !important;
	min-height: 12px !important;
	background: #222 !important;
	cursor: default;
}

scrollbar thumb[orient="vertical"] {
	min-height: calc(var(--scrollbar-width) * 2) !important;
	width: var(--scrollbar-width) !important;
	min-width: var(--scrollbar-width) !important;
	max-width: var(--scrollbar-width) !important;
}

scrollbar thumb[orient="horizontal"] {
	min-width: calc(var(--scrollbar-width) * 2) !important;
	height: var(--scrollbar-width) !important;
	min-height: var(--scrollbar-width) !important;
	max-height: var(--scrollbar-width) !important;
}

/* Scrollbar thumb colors */
scrollbar thumb {
	background: transparent !important;
	box-shadow: 0 0 0 8px var(--scrollbar-thumb-color) inset !important;
	opacity: 1 !important;
	transition: 0.5s !important;  
}

scrollbar:hover thumb {
	box-shadow: 0 0 0 8px var(--scrollbar-thumb-color-hover) inset !important;
}

scrollbar thumb:active {
	box-shadow: 0 0 0 8px var(--scrollbar-thumb-color-pressed) inset !important;
	transition: 0s !important; 
}

scrollcorner {
	background-color: #222 !important;
}

/* Buttons */
scrollbar scrollbarbutton[type="decrement"] {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9TS4tWHOwg4pCh6mJBVEQ3qWIRLJS2QqsOJpd+QZOGJMXFUXAtOPixWHVwcdbVwVUQBD9AXFydFF2kxP+lhRYxHhz34929x907QKiXmWp2jQOqZhnJWFTMZFdF/yt6EIAPo5iVmKnHU4tpuI6ve3j4ehfhWe7n/hy9Ss5kgEcknmO6YRFvEE9vWjrnfeIQK0oK8TnxmEEXJH7kutzkN84FhwWeGTLSyXniELFY6GC5g1nRUImniMOKqlG+kGmywnmLs1qustY9+QuDOW0lxXWaQ4hhCXEkIEJGFSWUYSFCq0aKiSTtR138g44/QS6ZXCUwciygAhWS4wf/g9/dmvnJiWZSMAr4Xmz7Yxjw7wKNmm1/H9t24wTwPgNXWttfqQMzn6TX2lr4COjbBi6u25q8B1zuAANPumRIjuSlKeTzwPsZfVMW6L8FuteavbX2cfoApKmr5Rvg4BAYKVD2usu7A529/Xum1d8PsytywSh+aA4AAAAGYktHRAAAAAAAAPlDu38AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfjCwgGDQUvKSwCAAAAGXRFWHRDb21tZW50AENyZWF0ZWQgd2l0aCBHSU1QV4EOFwAAAIJJREFUOMvNU0EOwCAIa9Wv8P+bn/EtC7uwxRlBl+wwExMDtJUSgN+fWmuYL1GytbYUSDvg6BdpIaAAVETcAgbqOtbOiLgJdkm4ALNrZUqSAscJINulZ3AJvKGIHAagxXRnChf4LrY3Z55Nx9iDo9hIkL1RdSR369bWg6C8WBH9bNlOjcgtTlSmKcUAAAAASUVORK5CYII=') #222 !important;
	height: var(--scrollbar-width) !important;
	width: var(--scrollbar-width) !important;
	background-size: contain !important}

scrollbar scrollbarbutton[type="increment"] {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9TS4tWHOwg4pCh6mJBVEQ3qWIRLJS2QqsOJpd+QZOGJMXFUXAtOPixWHVwcdbVwVUQBD9AXFydFF2kxP+lhRYxHhz34929x907QKiXmWp2jQOqZhnJWFTMZFdF/yt6EIAPo5iVmKnHU4tpuI6ve3j4ehfhWe7n/hy9Ss5kgEcknmO6YRFvEE9vWjrnfeIQK0oK8TnxmEEXJH7kutzkN84FhwWeGTLSyXniELFY6GC5g1nRUImniMOKqlG+kGmywnmLs1qustY9+QuDOW0lxXWaQ4hhCXEkIEJGFSWUYSFCq0aKiSTtR138g44/QS6ZXCUwciygAhWS4wf/g9/dmvnJiWZSMAr4Xmz7Yxjw7wKNmm1/H9t24wTwPgNXWttfqQMzn6TX2lr4COjbBi6u25q8B1zuAANPumRIjuSlKeTzwPsZfVMW6L8FuteavbX2cfoApKmr5Rvg4BAYKVD2usu7A529/Xum1d8PsytywSh+aA4AAAAGYktHRAAAAAAAAPlDu38AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfjCwgGDDRn7B15AAAAGXRFWHRDb21tZW50AENyZWF0ZWQgd2l0aCBHSU1QV4EOFwAAAI5JREFUOMvNktEKwzAIRU/awr7E/3/Lz/gnpZ17SSDZ1I7uZUIgaO65KoEfo/SLqj6AXUQsE6gqwAo8RcSWoXbcMR4BJ2DNIXMHOHqnS/CwfJOLANY6KW9ia2eKLejWgKKq6zheuoxhRnPqU05EfEAAIRK7gATyIQ4BDsQVZ0ucDLK/wdW3vS3uUWvlv+MFNEZDRaFDPRYAAAAASUVORK5CYII=') #222 !important;
	height: var(--scrollbar-width) !important;
	width: var(--scrollbar-width) !important;
	background-size: contain !important}

/* No buttons *//*
scrollbar scrollbarbutton{
	min-height: 0px !important;
	min-width: 0px !important;
	max-height: var(--scrollbar-width) !important;
	max-width: var(--scrollbar-width) !important;
	height: 0px !important;
	width: 0px !important;
}