/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 16/03/2020 */

/* This deletes the space that comes before the min/max/close button (space where you can place addons), but
after the tabs section */
.titlebar-spacer {width: 10px !important}