/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 09/09/2020 */

/* ROUNDED TABS */

/* You can change the first 2 values of the border-radius to increase 
* or decrease how round the tabs are */
.tab-content {
  border-radius: 20px 20px 0px 0px !important;
  border-image: none !important}

/* Increase or decrease these values to make the tab line smaller
* depending on how rounded you made the tabs in the previous rule */
.tab-line {
  margin-left: 12px;
  margin-right: 12px}