/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 05/06/2021 */

/* Tab separators */
.tabbrowser-tab::after {
    content: "";
    max-height: calc(var(--tab-min-height) - 4px);
    width: 1px;
    display: flex;
    margin-top: 6px;
  }
  
  /* If you want the separators to be more visible, change the ".2" number, which represent opacity */
  #main-window[lwt-toolbar-field-brighttext] .tabbrowser-tab:not([visuallyselected]):not([beforeselected-visible])::after {
    box-shadow: 2px 0 0 0 rgba(255,255,255,.2) !important}
  
  #main-window:not([lwt-toolbar-field-brighttext]) .tabbrowser-tab:not([visuallyselected]):not([beforeselected-visible])::after {
    box-shadow: 2px 0 0 0 rgba(0,0,0,.2) !important}