/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 10/05/2023 */

/* Tab close button visible only on hover */
#tabbrowser-tabs .tabbrowser-tab:not([pinned]) .tab-close-button {
	display: none !important}
  
#tabbrowser-tabs .tabbrowser-tab:not([pinned]):hover .tab-close-button {
	visibility: visible !important;
	display: block !important}

#tabbrowser-tabs .tabbrowser-tab:not([pinned])[faviconized="true"]:hover .tab-close-button {
	visibility: collapse !important;
	display: none !important}