/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 19/12/2020 */

/* Tab close button always visible */
#tabbrowser-tabs .tabbrowser-tab:not([pinned]) .tab-close-button {
  	visibility: visible !important;
  	display: block !important}

#tabbrowser-tabs .tabbrowser-tab:not([pinned])[faviconized="true"] .tab-close-button {
  	visibility: collapse !important;
  	display: none !important}

#tabbrowser-tabs .tabbrowser-tab[soundplaying="true"] {
  min-width: calc(var(--tab-min-width) + 18px) !important}