/* You can find an updated version here: https://github.com/Izheil/Firefox-57-full-dark-theme-with-scrollbars */
/* Made by Izheil */
/* Last updated: 25/03/2018 */

/*------ HOW TO MAKE THE ADDON THEMES WORK ------*/
/* To use this part of the code, you will have to find the dynamic ID of your extensions, and replace it where the 
random numbers are (the numbers after moz-extension://) on each of the sections of the extension.
To find these, just open about:debugging, and copy the UUID numbers of the extension, and paste them in the URL after
moz-extension in here. If you did everything right, next time you start (or restart) firefox, the addon will 
be themed (Each addon has a different dynamic URL). */

/*------ UBLOCK ORIGIN BLOCKING PAGE ------*/
@-moz-document url-prefix(moz-extension://00b72a90-6883-4e98-8785-1620d6b75664/document-blocked.html){

html, body {background-color: #222 !important}

body {margin-top: 10em}

p, span {color: #ccc !important}

.fa {color: #fa0 !important}

a:link {color: #0084ff !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

button {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #333 !important;
  color: #ddd !important;
  border: none !important}

button:hover {
  background: #111 !important;
  color: #ddd !important}
}

/*------ UBLOCK ORIGIN CONTROL PANEL TOP BUTTONS ------*/
@-moz-document url-prefix(moz-extension://00b72a90-6883-4e98-8785-1620d6b75664/dashboard.html) {

#dashboard-nav-widgets {background: #222 !important; border-bottom: 1px solid black !important}

#dashboard-nav-widgets span {color: #ccc !important}

a {
	background-color: #444 !important; 
	color: #777 !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}

a.tabButton.selected {
	background-color: #333 !important; 
	color: #ccc !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}
}

/*------ UBLOCK ORIGIN CONTROL PANEL CONTENT PAGES ------*/
@-moz-document url(moz-extension://00b72a90-6883-4e98-8785-1620d6b75664/settings.html),
url(moz-extension://00b72a90-6883-4e98-8785-1620d6b75664/3p-filters.html),
url(moz-extension://00b72a90-6883-4e98-8785-1620d6b75664/1p-filters.html),
url(moz-extension://00b72a90-6883-4e98-8785-1620d6b75664/dyna-rules.html),
url(moz-extension://00b72a90-6883-4e98-8785-1620d6b75664/whitelist.html),
url(moz-extension://00b72a90-6883-4e98-8785-1620d6b75664/about.html),
url(moz-extension://00b72a90-6883-4e98-8785-1620d6b75664/advanced-settings.html){
body, html {
	background: #333 !important;
	color: #ccc !important;
}

a:link {color: #09f !important}
a:visited {color: #0070aa !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

a.fa.info, a.fa.mustread, a.fa.support, 
.fa.status.cache, .fa.status.updating {color: #bbb !important}

button:not(.whatisthis):not(#buttonUpdate) {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #555 !important;
  color: #ddd !important;
  border: none !important}

button:not(.whatisthis):not(#buttonUpdate):hover {
  background: #111 !important;
  color: #ddd !important}

button.whatisthis {filter: brightness(200%) !important}

button[disabled] {opacity: 0.5 !important}

#buttonUpdate, button.important {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #ffbb33 !important;
  color: #000 !important;
  border: none !important}

#buttonUpdate:hover, button.important:hover {
  background: #cc8800 !important;
  color: #ddd !important}

.cm-search-widget, .CodeMirror-gutters, 
.CodeMirror-merge-gap {background: #222 !important; border: none !important}

.cm-search-widget {border-bottom: 1px solid #000 !important;}

.CodeMirror, .CodeMirror-merge, .cm-search-widget input {
	-moz-appearance: none !important;
	background: #555 !important; 
	color: #aaa !important; 
	border: none !important}

.CodeMirror-line 

.cm-comment {color: #aaa !important}
.cm-staticnetBlock {color: #f62 !important}

a.fa.info.important {color: #fa0 !important}

.fa.status.unsecure, a.fa.remove {color: #f33 !important}

textarea, .whatisthis-expanded {
	-moz-appearance: none !important; 
	background-color: #222 !important; 
	color: #aaa !important;
	border: 2px solid #000 !important}


code {background-color: #222 !important}

.rulesContainer li:nth-child(odd) {background-color: #222 !important}
.rulesContainer li:nth-child(even) {background-color: #444 !important}

input[type=number] {
	-moz-appearance: none !important;
	background: #222 !important;
	border: 1px solid #000 !important;
	color: #ccc !important}
}

/*------ UBLOCK ORIGIN MENU POPUP ------*/
@-moz-document url-prefix(moz-extension://00b72a90-6883-4e98-8785-1620d6b75664/popup.html) {

#appinfo {background: #111 !important}

#refresh, #saveRules, #revertRules {background-color: #222 !important; border: 1px solid #000 !important}

/* Basic menu */
.tooltipContainer, #panes {background-color: #333 !important}

.tool.enabled:hover {color: #fff !important}

p {color: #ccc !important}
.statValue {color: #888 !important}

h2 {
	background-color: #222 !important; 
	color: #ddd !important}

div:not(.tooltipContainer):not(#panes):not(#rulesetTools):not(#refresh) {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) !important}

span[data-i18n-tip="popupTipRevertRules"], span[data-i18n-tip="popupTipSaveRules"] {
	background: #222 !important;
	border: 1px solid black !important}

span[data-src="/"], span[data-src="."] {
	border-left: 1px solid #000 !important}

#extraTools, #tooltip {
	background: #ddd !important;
	color: #ccc !important}

#extraTools span:hover {color: #888 !important}

/* Advanced menu */
#firewallContainer span {
	border-bottom: 1px solid #000 !important;
	color: #ccc !important}

#firewallContainer span:hover {background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)) !important}

#firewallContainer span span, #firewallContainer span span:hover  {
	background-image: none !important;
	border-bottom: 1px solid transparent !important}
}

/*------ UBLOCK ORIGIN UI LOGGER ------*/
@-moz-document url-prefix(moz-extension://00b72a90-6883-4e98-8785-1620d6b75664/logger-ui.html) {
.button, input, textarea {
	-moz-appearance: none !important;
	background: #444 !important;
	border: 1px solid #000 !important}

td {border: 1px solid #000 !important; background: rgba(255,255,255,0.1) !important}

td:hover {background: rgba(255,255,255,0.2)}

input, table, .dialog, textarea {color: #ddd !important}

.permatoolbar, .vscrollable, table, html, .dialog code, .dialog textarea {
	background: #222 !important}

.dialog tr {background-color: #555 !important}

#netInspector div#popupContainer {
	background: #333 !important; 
	border: 1px solid #111 !important}

#popupContainer > div {background: #555 !important}

.toolbar td, .dialog {
	border: none !important;
	background: #444 !important}

.headers {border-bottom: 1px solid #000 !important}

.header.dynamic.selected, .header.static.selected  {
	background-color: #444 !important; 
	color: #ccc !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}

.dialog .toolbar span#saveRules {	
	background-color: #555 !important; 
	border: 1px solid #000 !important;
	color: #ddd !important}

.dialog .toolbar span#saveRules:hover {	
	background-color: #333 !important;
	color: #fff !important}

button.important {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #ffbb33 !important;
  color: #000 !important;
  border: none !important}

button.important:hover {
  background: #cc8800 !important;
  color: #ddd !important}

.action .noop:hover, .action.noop.own {background: #ddd !important}

.header.dynamic, .header.static {
	background-color: #333 !important; 
	color: #777 !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !importan}

.dialog a:link {color: #0084ff !important}
.dialog a:hover {color: #0ff !important}
.dialog a:active {color: #0050aa !important}

.button.disabled {opacity: 0.5 !important}
}

/*------ FLASH VIDEO DOWNLOADER (youtube) ADDON OPTIONS PANEL------*/
@-moz-document url(moz-extension://314f997d-c597-4795-a575-c554dad7c5f4/options.html) {
body {background-color: #222 !important}

.white_area, #showMain.fvd_settings_container, .options {background-color: #444 !important}
.white_area {background-image: none !important}

.fvd_settings_title, .fvd_settings_description, 
.fvd_settings_fvd_description, span {color: #ccc !important}

#masterHead {background: #555 !important; color: #ccc !important}

#donateDownloadNative span {color: #fff !important}

h2 {color: #FFF !important}
}

/*------ FLASH VIDEO DOWNLOADER (youtube) ADDON POPUP ------*/
@-moz-document url(moz-extension://314f997d-c597-4795-a575-c554dad7c5f4/popup.html) {

body, .multiple_download_header, #filters_block,
#snifferNotice {background-color: #333 !important}

#download_container_wrapped, #download_item_container {background-color: #333 !important; color: #ccc !important}

.download_item.group-video:hover {background-color: #444 !important}
.download_group_item_wrapped:hover {background-color: #555 !important}

#help_link_help {display: none !important}

#help_link_folder {
	background: linear-gradient(#333, #111) !important; 
	color: #ccc !important;
	border: 1px solid #000 !important}
#help_link_folder:hover {background: linear-gradient(#111, #333) !important}

.downloader_filter_title, .downloader_check_text {color: #CCC !important}

#footer_container, #header_container {background-color: #222 !important}

#footer_container {border-top: 2px solid #000 !important}

.footer .footer-item {color: #fff !important}
.footer .footer-item:hover {background: #444 !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON OPTIONS PANEL ------*/
@-moz-document url-prefix(moz-extension://711939e6-6e2a-4563-8944-9f0fa3b01df7/content/settings.html) {
main, .btn-toolbar {background: #333 !important; color: #ccc !important}
header {background: #222 !important; color: #fff !important}

.dropdown-toggle {background: #333 !important; border-bottom: 1px solid #fff !important}

.section-header, .dropdown-item:hover {background: #555 !important; color: #fff !important}
.card-body, .dropdown-menu.show, .dropdown-item {background: #444 !important; color: #ccc !important}

.active.nav-link {background: #444 !important; color: #0ff !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON COMMON PART ------*/
@-moz-document url-prefix(moz-extension://e77fa7d8-24fa-4cc1-9cb4-bd12345b34eb/) {
main, .top-line, .files-list.headercontainer {background: #333 !important; color: #ccc !important}

.tablecontainer, select.form-control {
	background: #555 !important; 
	color: #ccc !important; 
	border: 1px solid #777 !important}

.dir-entry, .file-prompt .tablecontainer td, 
.file-prompt th {background: none !important; border: none !important}

.dropdown-toggle {background: #333 !important; border-bottom: 1px solid #fff !important}

a[aria-expanded="true"] {background: #444 !important; color: #0ff !important}

.btn-group {background: none !important}
.btn-group:active {outline: none !important}

.btn-toolbar {background: #333 !important; color: #ccc !important}

header {
	background: linear-gradient(#333,#111) !important; 
	color: #ddd !important;
	border: 1px solid #000 !important}

.btn-outline-secondary, .btn-secondary, 
.input-group-btn .btn, .list li {
  -moz-appearance: none !important;
  background: #555 !important;
  color: #ddd !important;
  border: 1px solid #444 !important;
  outline: none !important;
  box-shadow: none !important}

.btn-outline-primary {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #05a !important;
  color: #ddd !important;
  border: 1px solid #0040aa !important}

.btn-outline-primary:not[disabled]:hover {
	background: #003080 !important;
    color: #dff !important}

.btn-outline-secondary:hover, .btn-secondary:hover, .btn-success:hover {
	background: #111 !important;
	color: #fff !important}

.btn-success  {
	-moz-appearance: none !important;
	background: #00b300 !important; 
	color: #ddd !important;
	border: 1px solid #030 !important}

.btn-success:active {background: #008000 !important}

input, .input-license input, textarea {
	-moz-appearance: none !important;
	background: #555 !important;
	color: #fff !important;
	border: none !important}

.section-header, .dropdown-item:hover {background: #555 !important; color: #fff !important}
.card-body, .dropdown-menu.show, .dropdown-item {background: #444 !important; color: #ccc !important}

.modal-content, .list-column, footer, .weh-shf {background: #333 !important}
.modal-header, .param {background: #222 !important; color: #fff !important; border-bottom: 1px solid #000 !important}
.modal-body {color: #ddd !important}
.modal-footer {border-top: 1px solid #888 !important}
.close {color: #fff !important}

.active.nav-link {background: #444 !important; color: #0ff !important}
.nav-link {cursor: pointer !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON POPUP ------*/
@-moz-document url-prefix(moz-extension://e77fa7d8-24fa-4cc1-9cb4-bd12345b34eb/content/popup.html) {
html, .content-hits, .vdh-fullwidth.hit-descr, 
.hit-thumbnail, .click.hit-actions, .vdh-container,
.no-media {background: #333 !important}

.vdh-container {
	border-bottom: 1px solid #000 !important;
	border-top: 1px solid #000 !important}

.click.hit, .vdh-fullwidth.hit-descr, .click.hit-actions {border: none !important}
.click.hit-actions:hover {border-left: 1px solid #000 !important}

.vdh-fullwidth.hit-descr:hover > .vdh-container, .vdh-container:hover,
.hit-thumbnail:hover, .click.hit-actions:hover {background: #444 !important}

footer, .buttons-opener, button, .buttons-container, .default-check,
.actions, .back-margin {background: #222 !important}

.actions {box-shadow: -5px 0 5px 0px #000 !important}

button:hover {background: #444 !important}

.hit-title-text, .no-media, .action-title {color: #fff !important}

.action-descr, .default-check, code {color: #aaa !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON ALERT UPON DOWNLOAD ------*/
@-moz-document url-prefix(moz-extension://e77fa7d8-24fa-4cc1-9cb4-bd12345b34eb/content/alert.html) {
.dialog-in-tab {background: #222 !important}
	
.alert-dialog .alert-dialog-content {
	background: #444 !important;
	color: #ddd !important}

.alert-dialog header, .alert-dialog footer {
	background: #333 !important;
	color: #fff !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON DETAILS PAGE ------*/
@-moz-document url-prefix(moz-extension://e77fa7d8-24fa-4cc1-9cb4-bd12345b34eb/content/details.html) {
header, tr:nth-child(even) {background: #222 !important; color: #fff !important}
main, tr:nth-child(odd) {background: #333 !important; color: #fff !important}
}

/*------ TAB SESSION MANAGER ------*/
@-moz-document url-prefix(moz-extension://bed28cc8-2f9a-468a-99f2-40a1b6fbc251/options/options.html),
url-prefix(moz-extension://bed28cc8-2f9a-468a-99f2-40a1b6fbc251/popup/popup.html),
url-prefix(moz-extension://bed28cc8-2f9a-468a-99f2-40a1b6fbc251/replaced/replaced.html?state=open_faild) {

:root {
    --main-text: #ddd !important;
    --sub-text: #aaa !important;
    --line: #36b2b2 !important;
    --button: #444 !important;
    --highlight: #36b2b2 !important;
    --main-bg: #333 !important;
    --new: #ff4f4f !important;
	--confirm: #ff4f4f !important}

.button {background: #444 !important}
.button:hover {background: #222 !important}

li.saveOnlyCurrentWindow {color: #ddd !important}
li.saveOnlyCurrentWindow:hover {color: #000 !important}

span.checkbox::before, #saveName {background: #303030 !important; border: 1px solid #666 !important}
span.checkbox:hover::before, #saveName:hover {border: 1px solid #36b2b2 !important}

#setting svg, .removeTagButton svg {fill: #000 !important}

#sessionsArea, .sessionName span {color: #fff !important}

textarea, #dateFormat {background: #303030 !important; color: #ddd !important}

#saveButton, #saveOptionButton {background: #555 !important}

#saveButton:not(:hover) {color: #ddd !important}

.tag span {color: #000 !important}

.tabTitle a {color: #09f !important}
.tabTitle a:hover {color: #0ff !important}
.tabTitle a:active {color: #0050aa !important}
}

/*------ UNDO LAST TAB ADDON ------*/
@-moz-document url-prefix(moz-extension://5579f940-c966-4837-a163-6e75d7d2c44d/data/popup/index.html) {
body, html {background: #333 !important}

li {color: #aaa !important}
li:hover {background-color: rgba(255,255,255, 0.1) !important}

li span {
	border-left: 1px solid #222 !important;
	box-shadow: inset 1px 0 0 0 #000 !important}

li[data-disabled="true"] {color: #666 !important}
li[data-disabled="true"]:hover {background-color: rgba(0,0,0, 0.2) !important}

.separator {
	border-top: 1px solid #222 !important;
	box-shadow: inset 1px 1px 0 #000 !important}
}

/*------ DOWNLOAD MANAGER (S3) ADDON CONFIGURATION PAGE ------*/
@-moz-document url-prefix(moz-extension://fa4d3e3d-bb33-4eba-b377-525ac3ee55b4/content/options.html),
url-prefix(moz-extension://fa4d3e3d-bb33-4eba-b377-525ac3ee55b4/content/create_new_downloads.html) {
body, html {background: #222 !important; color: #fff !important}

#tabsBox .tabsBox {background: #333 !important; border: 1px solid #555 !important}

#tabs a:not(.selected) {background-color: #383838 !important; color: #aaa !important}

#tabs a.selected, #generalTab, #appearanceTab, #virusScanTab,
#download_historyTab, .caption span {background-color: #444 !important; color: #ddd !important}

#tabs-generalTab a:not(.selected), #appearanceTab a:not(.selected) 
{background-color: #505050 !important; color: #aaa !important}

#tabs-generalTab a.selected, #generalTab--features, #generalTab--statusMode, #generalTab--queue,
#tabs-appearanceTab a.selected, #appearanceTab--style, #appearanceTab--layout 
{background-color: #555 !important; color: #ddd !important; border: none !important}

.groupbox {border: 1px solid #666 !important; box-shadow: 0 0 10px #000 !important}
.groupbox:hover:not([disabled]) {border: 1px solid #AF5CCB !important; box-shadow: 0 0 10px #712a89 !important}

.groupbox a:link, .groupbox a {color: #09f !important}
.groupbox a:visited {color: #0070aa !important}
.groupbox a:hover {color: #0ff !important}
.groupbox a:active {color: #0050aa !important}

input:not([type="number"]):not([type="checkbox"]):not([type="button"]):not([type="radio"]), textarea {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

#customStyle_form table.table_colors tr {background: none !important}

#customStyle_form .table_colors input:hover,
#appearanceTab--layout input[type="color"]:hover {border: 1px solid #fff !important}

#current_locale {border: 1px solid #666 !important}
	
.caption > div {
	border-radius: 6px !important; 
	background: #666 !important; 
	border: none !important}

#exclude_links_placeholder > div, 
#exclude_links_placeholder {border: none !important; background: none !important}

button, input[type="button"] {  
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background-color: #666 !important;
  color: #ddd !important;
  border: none !important}

button:hover, input[type="button"]:hover {  
  background-color: #222 !important;
  color: #fff !important;
  box-shadow: none !important}

#save_settings, #copy_settings, #load_settings, 
#reset_settings {padding: 0.5em !important}
}

/*------ DOWNLOAD MANAGER (S3) ADDON DOWNLOADS HISTORY PAGE ------*/
@-moz-document url-prefix(moz-extension://fa4d3e3d-bb33-4eba-b377-525ac3ee55b4/content/download_history.html),
url-prefix(moz-extension://fa4d3e3d-bb33-4eba-b377-525ac3ee55b4/content/file_checksum.html) {
body, html {background: #333 !important; color: #fff !important}

#download_action_head {background: linear-gradient(#333, #111) !important}

#download_action_head input[type="button"] {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background-color: #111 !important;
  color: #ddd !important;
  border: none !important}

#download_action_head input[type="button"]:hover {
  background-color: #555 !important;
  color: #fff !important}

#s3downbar_searchbox {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

#download_list_head {background: linear-gradient(#333, #555) !important}

#download_list_head, #download_list_head div {border-color: #222 !important}

.progress_bar[value] {background-color: #333 !important}

#download_list_box:not([start_draw="true"]) .grid_rows[is_selected="true"] {
	background-color: rgba(32, 96, 32, 0.3) !important;
	color: #53c653 !important}

#download_list_box:not([start_draw="true"]) .grid_rows:hover {
	background-color: rgba(255,255,255, 0.25) !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box {
	border: 1px solid #000 !important;
	background: #444 !important;
	color: #ddd !important;
	box-shadow: 0 0 10px #000 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box .contextmenu_menu:hover {
	background-color: #555 !important;
	color: #fff !important}
}

/*------ DOWNLOAD MANAGER (S3) ADDON DOWNLOADS POPUP ------*/
@-moz-document url-prefix(moz-extension://fa4d3e3d-bb33-4eba-b377-525ac3ee55b4/content/popup.html) {
#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha:not(.s3dmBox) {background-color: #333 !important; color: #fff !important}
#s3downbar_hide_button, #s3downbar_main_menu_button, #s3downbar_clear_button,
#s3downbar_holder_summary_progress {
	background-color: #000 !important; 
	color: #fff !important;
	border-color: #222 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box {
	border: 1px solid #000 !important;
	background: #444 !important;
	color: #ddd !important;
	box-shadow: 0 0 10px #000 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box .contextmenu_menu:hover {
	background-color: #555 !important;
	color: #fff !important}
}

/*------ DOWNLOAD MANAGER (S3) ADDON INFORMATION BOTTOM BAR ------*/
@-moz-document url-prefix(http), url-prefix(moz-extension://) {
#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .tooltip_box {
	background: linear-gradient(#333, #666) !important;
	color: #ddd !important;
	border: 1px solid #444 !important}

#s3downbar_download_tooltip_data_box > .download_data_tooltip_data > tbody > tr > td > div {
	color: #fff !important}

#s3downbar_download_tooltip_from {background-color: #333 !important; color: #05f !important}
}

/*------ PRIVACY BADGER ADDON SETTINGS PAGE ------*/
@-moz-document url-prefix(moz-extension://4b78ab51-2c7e-4a8d-b24c-07f1d616c7b1/skin/options.html) {
body, html {background: #222 !important; color: #fff !important}

#tabs {background: #444 !important; color: #ccc !important; border: 1px solid #666 !important}

#tabs > ul {background-image: linear-gradient(#333, #222) !important; border: 1px solid #666 !important}

label, p, span.i18n_show_tracking_domains_acknowledgement, .origin.tooltip {color: #ddd !important}

span.i18n_options_webrtc_warning {color: #aaa !important}

span.i18n_import_user_data, span.i18n_export_user_data {color: #fff !important}

#tabs > ul > li {
	background: #252525 !important; 
	border: 1px solid #555 !important}

#tabs > ul > li span {color: #ccc !important}

#tabs > ul > li.ui-state-hover {
	background: #333 !important; 
	border: 1px solid #606060 !important}

#tabs > ul > li.ui-state-hover span {color: #ddd !important}

#tabs > ul > li.ui-state-active {
	background: #444 !important; 
	color: #fff !important; 
	border: 1px solid #666 !important}

#tabs > ul > li.ui-state-active span {color: #fff !important}

#newWhitelistDomain, #excludedDomainsBox, #trackingDomainSearch {
	-moz-appearance: none !important;
	color: #ddd !important;
	background: #303030 !important;
	border: 1px solid #666 !important}

#trackingDomainSearch:hover, #newWhitelistDomain:hover {
	border: 1px solid #db7924 !important}

#blockedResources > .keyContainer > .key {background: none !important}

#blockedResourcesInner > div {
	background: #444 !important; 
	color: #ccc !important;
	border-top: 1px solid #666 !important}

button {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #666 !important;
  color: #ddd !important;
  border: none !important}

button:hover {
	background: #555 !important;
	color: #fff !important}

a:link, a {color: #0bb !important}
a:visited, a:active {color: #088 !important}
a:hover {color: #0dd !important}
}

/*------ PRIVACY BADGER ADDON POPUP ------*/
@-moz-document url-prefix(moz-extension://4b78ab51-2c7e-4a8d-b24c-07f1d616c7b1/skin/popup.html) {
body, html {background: #333 !important; color: #fff !important}

label, span, .origin.tooltip {color: #ddd !important}
span.i18n_name {color: #fff !important}

button {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #666 !important;
  color: #ddd !important;
  border: none !important}

button:hover {
  background: #444 !important;
  color: #fff !important}

a:link, a {color: #fc9336 !important}
a:visited, a:active {color: #a3540f !important}
a:hover {color: #f0a15c !important}

#instruction {background: #444 !important; color: #ddd !important}

#blockedResources > .keyContainer > .key {background: none !important}
#blockedResourcesInner > div {
	background: #333 !important; 
	color: #ccc !important;
	border-top: 1px solid #555 !important}
}

/*------ NOSCRIPT ADDON SETTINGS AND PROMPT PAGE ------*/
@-moz-document url-prefix(moz-extension://77acf3bb-8b8d-4c1f-9fc3-f15441840505/ui/options.html),
url-prefix(moz-extension://77acf3bb-8b8d-4c1f-9fc3-f15441840505/ui/prompt.html),
url-prefix(moz-extension://77acf3bb-8b8d-4c1f-9fc3-f15441840505/ui/siteInfo.html) {
body, html {background: #222 !important}

#main {background: linear-gradient(#555,#111) !important; color: #fff !important}

#message {color: #fff !important}

h1 {color: #fff !important}
span {color: #ddd !important}

.flextabs__content, .flextabs__toggle[aria-expanded="true"] {
	background: #444 !important;
	color: #ddd !important}

.flextabs__toggle[aria-expanded="false"] {
	background: #404040 !important;
	color: #aaa !important}

button:not(.flextabs__toggle) {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #666 !important;
  color: #ddd !important;
  border: none !important}

button:not(.flextabs__toggle):hover {
  background: #333 !important;
  color: #fff !important}

.buttons button {padding: 5px !important; margin-right: 5px !important}

#button0, #button1 {padding: 5px !important}

.buttons button:hover {background: #444 !important}

.presets, .url, .customizer-controls {color: #000 !important}

#presets {filter: brightness(80%) !important}

a:link {color: #0084ff !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

.customizer fieldset label {color: #000 !important}

#newsite {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

#sites .sites tr {background: #555 !important}

#sites .sites tr:nth-child(even) {background: #666 !important}
}

/*------ NOSCRIPT ADDON POPUP ------*/
@-moz-document url-prefix(moz-extension://77acf3bb-8b8d-4c1f-9fc3-f15441840505/ui/popup.html) {
body, html, #main {background: #333 !important; color: #ddd !important}

#top {border-bottom: 1px solid #555 !important}

button {background-color: transparent !important}

tr {color: #ddd !important}

#sites .sites tr {background: #333 !important}

span {color: #ddd !important}

#sites .sites tr:nth-child(odd) {background: #404040 !important}
}

/*------ S3 TRANSLATOR ADDON SETTINGS PAGE ------*/
@-moz-document url-prefix(moz-extension://0010c056-bb00-4f3f-81bc-6ee2f265b636/content/options.html) {
body, html, center {background: #222 !important; color: #ddd !important}

#tabsBox .tabsBox {background: #333 !important; border: 1px solid #555 !important}

#tabs a:not(.selected) {background-color: #383838 !important; color: #aaa !important}

#tabs a.selected, #translateTab, #translatePageTab, #translateTextTab,
#translateLearningTab, #translateContextMenuTab, #translateClipboardTab, #translateOthersTab, 
.caption span {background-color: #444 !important; color: #ddd !important}

#translateTextTab a.selected, #translateTextTab--basicFunctions, #translateTextTab--selectedText, 
#translateTextTab--singleWord {
	background-color: #555 !important; color: #ddd !important; border: none !important}

#translateTextTab a:not(.selected)
{background-color: #505050 !important; color: #aaa !important}

.groupbox {border: 1px solid #666 !important; box-shadow: 0 0 10px #000 !important}
.groupbox:hover:not([disabled]) {border: 1px solid #AF5CCB !important; box-shadow: 0 0 10px #712a89 !important}

.groupbox a:link, .groupbox a {color: #09f !important}
.groupbox a:visited {color: #0070aa !important}
.groupbox a:hover {color: #0ff !important}
.groupbox a:active {color: #0050aa !important}

input:not([type="number"]):not([type="checkbox"]):not([type="button"]):not([type="radio"]), textarea {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

button, input[type="button"] {  
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background-color: #666 !important;
  color: #ddd !important;
  border: none !important}

button:hover, input[type="button"]:hover {  
  background-color: #222 !important;
  color: #fff !important;
  box-shadow: none !important}

#translateLearningTab input[type="color"]:hover {border: 1px solid #fff !important}

.caption > div:not(#hotkey_button_plus) {background-color: #444 !important; border-radius: 5px !important}

#current_locale {border: 1px solid #666 !important}

#save_settings, #copy_settings, #load_settings, 
#reset_settings {padding: 0.5em !important}
}

/*------ S3 TRANSLATOR ADDON POPUP AND DONATE PAGE ------*/
@-moz-document url-prefix(moz-extension://0010c056-bb00-4f3f-81bc-6ee2f265b636/content/statistics.html),
url-prefix(moz-extension://0010c056-bb00-4f3f-81bc-6ee2f265b636/content/popup.html) {
body, html {background: #333 !important; color: #ddd !important}

.s3gt_menu_action:not([is_inactive="true"]):hover {background-color: #333 !important}

#statistics_accept {background-color: #ddd !important}

h4.header {color: #fff !important}
}

/*------ WINDOW RESIZE ADDON ------*/
@-moz-document url-prefix(moz-extension://8103b15f-ec19-423f-9a29-d0cd39156638/popup/choose_size.html) {
a {color: #ddd !important}
a:hover {
	background-color: rgba(255,255,255,0.2) !important; 
	color: #fff !important; 
	border-color: transparent !important}
}