/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 14/11/2024 */

/* Disables resizing of the URL-bar when the search suggestions popup isn't open. This already happens by default on the browser, 
   but this was left here for legacy reasons */
#urlbar[breakout-extend]:not([open]) {
  padding: 1px !important;

  /* After Firefox 133 it adds 45px of top and makes the urlbar a popup so it can't be positioned relative to other elements,
     so we need to adapt the padding repositioning here. */
  margin-top: 3px !important;
}

#urlbar[breakout-extend]:not([open]) > .urlbar-input-container {
  height: 100% !important;
  padding-inline: 0 !important;
  padding-block: 0 !important;
}

#urlbar[breakout-extend]:not([open]) > #urlbar-background {
  box-shadow: none !important;
}

#urlbar[breakout][breakout-extend]:not([open]) {
  margin-left: 0 !important;
  width: var(--urlbar-width) !important;
}