/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 14/12/2022 */

/* TAB BAR BELOW
You can set the order of each bar here. 1 for top, and 3 bottom.
Don't use this one if you already have the tabs below fix on your userChrome.

Explanation of what each rule affects:
- #nav-bar is the ID for the URL bar. 
- #PersonalToolbar the ID for the bookmarks bar.
- #titlebar should be affects the tabs bar and the menu bar (where file/tools menus are) */

#nav-bar {-moz-box-ordinal-group: 1 !important}
#PersonalToolbar {-moz-box-ordinal-group: 2 !important}
#titlebar {-moz-box-ordinal-group: 3 !important}

#toolbar-menubar .titlebar-buttonbox-container {
  display: block !important;
  position: absolute !important;
  top: 0;
  right: 0}

/* This makes sure that the min/max/close buttons are as big as the tab bar */
#TabsToolbar .titlebar-buttonbox .titlebar-button {
  height: var(--tab-min-height) !important}

/* Make sure that tabs stay right at the border of the webarea and not floating 1px above*/
#TabsToolbar {margin-bottom: -1px !important}

/* Default height of the menu bar */
#main-menubar > menu {height: 28px !important}

/* These control the space to leave on top of the window for the menu toolbar.
   Don't change the #navigator-toolbox margins to anything lower than 28px if you want to see the menu bar 
   on top of all bars */
#main-window:not([sizemode="fullscreen"]) #navigator-toolbox {margin-top: 28px}
/* ^ Change this to 35px or more if there is not enough space for the menu bar to 
     fit in a resized window ^ */

/* This changes the menu bar on top of the screen instead of over the tab bar. Delete or comment out 
if you want to use menu-over-tabs version */
#toolbar-menubar {
  display: flex !important;
  position: fixed !important;
  flex-wrap: nowrap;
  width: 100% !important;
  top: 0}

/* There seems to be an issue with the "top:" rule inside #toolbar-menubar that would not allow fullscreen
to autohide, so it's safest to just hide it on fullscreen. Not necessary for menu-over-tabs. */
#main-window[sizemode="fullscreen"] #toolbar-menubar {display: none !important}

/* Fixes missing color on the titlebar */
body > box {background-color: var(--lwt-accent-color)}

/* Windows-only fixes. Not necesary for menu-over-tabs. */
@media (-moz-platform: windows-win11), (-moz-platform: windows-win10), (-moz-platform: windows-win8), (-moz-platform: windows-win7) {
  /* Windows requires more padding on top of the window for some reason */
  #main-window[sizemode="maximized"] #navigator-toolbox {margin-top: 36px !important}

  /* These add spacing above the menu bar v */
  #main-window[sizemode="normal"] #toolbar-menubar {
    margin-top: 0px}

  #main-window[sizemode="maximized"] #toolbar-menubar {
    margin-top: 0px}
  /* ^ Change to 0px if there is empty space above the menu bar when on maximized mode ^ */

  /* Disable duplicated min/max/close buttons */
  #toolbar-menubar:not([inactive])~#TabsToolbar .titlebar-buttonbox-container {
    width: 0 !important;
  }
}