/* You can find an updated version here: https://github.com/Izheil/Firefox-57-full-dark-theme-with-scrollbars */
/* Made by Izheil */
/* Last updated: 09/01/2018 */

/*------ HOW TO MAKE THE ADDON THEMES WORK ------*/
/* To use this part of the code, you will have to find the dynamic ID of your extensions, and replace it where the 
random numbers are (the numbers after moz-extension://) on each of the sections of the extension.
To find these, just open the advanced settings page from the selected addon, and copy the numbers in the URL after
moz-extension there in here. If you did everything right, next time you start (or restart) firefox, the addon will 
be themed (Each addon has a different dynamic URL). */

/*------ UBLOCK ORIGIN BLOCKING PAGE ------*/
@-moz-document url-prefix(moz-extension://1e3752b9-2b9d-4dd5-8c06-64abbbd32538/document-blocked.html){

html, body {background-color: #222 !important}

body {margin-top: 10em}

p, span {color: #ccc !important}

.fa {color: #fa0 !important}

select {
	-moz-appearance: none !important;
	background-color: #333 !important;
	border: 1px solid black !important;
	color: #ccc !important}

select:hover {
	background-color: #444 !important}

a:link {color: #0084ff !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

button {
	-moz-appearance: none !important;
	background: linear-gradient(#333, #111) !important;
    	color: #ccc !important;
	border: 1px solid #000 !important}

button:hover {
	background: linear-gradient(#111, #333) !important;
    	color: #fff !important}
}

/*------ UBLOCK ORIGIN CONTROL PANEL TOP BUTTONS ------*/
@-moz-document url-prefix(moz-extension://1e3752b9-2b9d-4dd5-8c06-64abbbd32538/dashboard.html) {

#dashboard-nav-widgets {background: #222 !important; border-bottom: 1px solid black !important}

#dashboard-nav-widgets span {color: #ccc !important}

a {
	background-color: #444 !important; 
	color: #777 !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}

a.tabButton.selected {
	background-color: #333 !important; 
	color: #ccc !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}
}

/*------ UBLOCK ORIGIN CONTROL PANEL CONTENT PAGES ------*/
@-moz-document url(moz-extension://1e3752b9-2b9d-4dd5-8c06-64abbbd32538/settings.html),
url(moz-extension://1e3752b9-2b9d-4dd5-8c06-64abbbd32538/3p-filters.html),
url(moz-extension://1e3752b9-2b9d-4dd5-8c06-64abbbd32538/1p-filters.html),
url(moz-extension://1e3752b9-2b9d-4dd5-8c06-64abbbd32538/dyna-rules.html),
url(moz-extension://1e3752b9-2b9d-4dd5-8c06-64abbbd32538/whitelist.html),
url(moz-extension://1e3752b9-2b9d-4dd5-8c06-64abbbd32538/about.html),
url(moz-extension://1e3752b9-2b9d-4dd5-8c06-64abbbd32538/advanced-settings.html){
body, html {
	background: #333 !important;
	color: #ccc !important;
}

a:link {color: #0084ff !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

a.fa.info, a.fa.mustread, a.fa.support, 
.fa.status.cache, .fa.status.updating {color: #bbb !important}

button:not(.whatisthis):not(#buttonUpdate) {
	background: linear-gradient(#333, #111) !important;
    color: #ccc !important;
	border: 1px solid #000 !important}

button:not(.whatisthis):not(#buttonUpdate):hover {
	background: linear-gradient(#111, #333) !important;
    color: #fff !important}

button.whatisthis {filter: brightness(200%) !important}

#buttonUpdate, button.important {
	background: linear-gradient(#fa0, #a20) !important;
	background-image: linear-gradient(#fa0, #a20) !important;
    color: #ddd !important;
	border: 1px solid #f50 !important}

#buttonUpdate:hover, button.important:hover {
	background: linear-gradient(#a20, #fa0) !important;
	background-image: linear-gradient(#a20, #fa0) !important;
    color: #fff !important}

a.fa.info.important {color: #fa0 !important}

.fa.status.unsecure, a.fa.remove {color: #f33 !important}

textarea, .whatisthis-expanded {
	-moz-appearance: none !important; 
	background-color: #222 !important; 
	color: #aaa !important;
	border: 2px solid #000 !important}


code {background-color: #222 !important}

.rulesContainer li:nth-child(odd) {background-color: #222 !important}
.rulesContainer li:nth-child(even) {background-color: #444 !important}

input[type=number] {
	-moz-appearance: none !important;
	background: #222 !important;
	border: 1px solid #000 !important;
	color: #ccc !important}
}

/*------ UBLOCK ORIGIN MENU POPUP ------*/
@-moz-document url-prefix(moz-extension://1e3752b9-2b9d-4dd5-8c06-64abbbd32538/popup.html) {

#appinfo {background: #111 !important}

#refresh, #saveRules, #revertRules {background-color: #222 !important; border: 1px solid #000 !important}

/* Basic menu */
.tooltipContainer, #panes {background-color: #333 !important}

.tool.enabled:hover {color: #fff !important}

p {color: #ccc !important}
.statValue {color: #888 !important}

h2 {
	background-color: #222 !important; 
	color: #ddd !important}

div:not(.tooltipContainer):not(#panes):not(#rulesetTools):not(#refresh) {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) !important}

span[data-i18n-tip="popupTipRevertRules"], span[data-i18n-tip="popupTipSaveRules"] {
	background: #222 !important;
	border: 1px solid black !important}

#extraTools, #tooltip {
	background: #ddd !important;
	color: #ccc !important}

#extraTools span:hover {color: #888 !important}

/* Advanced menu */
#firewallContainer span {
	border-bottom: 1px solid #000 !important;
	color: #ccc !important}

#firewallContainer span:hover {background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)) !important}

#firewallContainer span span, #firewallContainer span span:hover  {
	background-image: none !important;
	border-bottom: 1px solid transparent !important}
}

/*------ UBLOCK ORIGIN UI LOGGER ------*/
@-moz-document url-prefix(moz-extension://1e3752b9-2b9d-4dd5-8c06-64abbbd32538/logger-ui.html) {
.button, select, input, textarea {
	-moz-appearance: none !important;
	background: #444 !important;
	border: 1px solid #000 !important}

td {border: 1px solid #000 !important}

td:hover {background: rgba(255,255,255,0.2)}

select, input, table, .dialog, textarea {color: #ddd !important}

.permatoolbar, .vscrollable, table, html, .dialog code, .dialog select, .dialog textarea {
	background: #222 !important}

.toolbar td, .dialog {
	border: none !important;
	background: #444 !important}

.dialog tr {
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)) !important}

.headers {border-bottom: 1px solid #000 !important}

.header.dynamic.selected, .header.static.selected  {
	background-color: #444 !important; 
	color: #ccc !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}

.header.dynamic, .header.static {
	background-color: #333 !important; 
	color: #777 !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !importan}

.dialog a:link {color: #0084ff !important}
.dialog a:hover {color: #0ff !important}
.dialog a:active {color: #0050aa !important}

.button.disabled {opacity: 0.5 !important}
}

/*------ FLASH VIDEO DOWNLOADER (youtube) ADDON OPTIONS PANEL------*/
@-moz-document url(moz-extension://d397f165-d1de-4b91-ae13-85becc05dc48/options.html) {
body {background-color: #222 !important}

.white_area, #showMain.fvd_settings_container, .options {background-color: #444 !important}
.white_area {background-image: none !important}

.fvd_settings_title, .fvd_settings_description, 
.fvd_settings_fvd_description, span {color: #ccc !important}

#masterHead {background: #555 !important; color: #ccc !important}

#donateDownloadNative span {color: #fff !important}

h2 {color: #FFF !important}
}

/*------ FLASH VIDEO DOWNLOADER (youtube) ADDON POPUP ------*/
@-moz-document url(moz-extension://d397f165-d1de-4b91-ae13-85becc05dc48/popup.html) {

body, .multiple_download_header, #filters_block,
#snifferNotice {background-color: #333 !important}

#download_container_wrapped, #download_item_container {background-color: #333 !important; color: #ccc !important}

.download_item.group-video:hover {background-color: #444 !important}
.download_group_item_wrapped:hover {background-color: #555 !important}

#help_link_help {display: none !important}

#help_link_folder {
	background: linear-gradient(#333, #111) !important; 
	color: #ccc !important;
	border: 1px solid #000 !important}
#help_link_folder:hover {background: linear-gradient(#111, #333) !important}

.downloader_filter_title, .downloader_check_text {color: #CCC !important}

#footer_container, #header_container {background-color: #222 !important}

#footer_container {border-top: 2px solid #000 !important}

.footer .footer-item {color: #fff !important}
.footer .footer-item:hover {background: #444 !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON OPTIONS PANEL ------*/
@-moz-document url-prefix(moz-extension://711939e6-6e2a-4563-8944-9f0fa3b01df7/content/settings.html) {
main, .btn-toolbar {background: #333 !important; color: #ccc !important}
header, select {background: #222 !important; color: #fff !important}

.dropdown-toggle {background: #333 !important; border-bottom: 1px solid #fff !important}

.section-header, .dropdown-item:hover {background: #555 !important; color: #fff !important}
.card-body, .dropdown-menu.show, .dropdown-item {background: #444 !important; color: #ccc !important}

.active.nav-link {background: #444 !important; color: #0ff !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON COMMON PART ------*/
@-moz-document url-prefix(moz-extension://711939e6-6e2a-4563-8944-9f0fa3b01df7/) {
main {background: #333 !important; color: #ccc !important}
select {background: #222 !important; color: #fff !important}

.dropdown-toggle {background: #333 !important; border-bottom: 1px solid #fff !important}

a[aria-expanded="true"] {background: #444 !important; color: #0ff !important}

.btn-group {background: none !important}
.btn-group:active {outline: none !important}

.btn-toolbar {background: #333 !important; color: #ccc !important}

.btn-outline-secondary, .btn-secondary, header {
	background: linear-gradient(#333,#111) !important; 
	color: #ddd !important;
	border: 1px solid #000 !important}

.btn-outline-secondary:hover, .btn-secondary:hover, .btn-success:hover {color: #fff !important}
.btn-outline-secondary:active, .btn-secondary:active {background: linear-gradient(#111,#333) !important}

.btn-success {
	background: linear-gradient(#080,#050) !important; 
	color: #ddd !important;
	border: 1px solid #030 !important}

.btn-success:active {background: linear-gradient(#050,#080) !important}

.form-control {
	background: #222 !important;
	border:1px solid #000 !important;
	color: #fff !important}

.section-header, .dropdown-item:hover {background: #555 !important; color: #fff !important}
.card-body, .dropdown-menu.show, .dropdown-item {background: #444 !important; color: #ccc !important}

.modal-content {background: #333 !important}
.modal-header, .param {background: #222 !important; color: #fff !important; border-bottom: 1px solid #000 !important}
.modal-body {color: #ddd !important}
.modal-footer {border-top: 1px solid #888 !important}
.close {color: #fff !important}

.active.nav-link {background: #444 !important; color: #0ff !important}
.nav-link {cursor: pointer !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON POPUP ------*/
@-moz-document url-prefix(moz-extension://711939e6-6e2a-4563-8944-9f0fa3b01df7/content/popup.html) {
html, .content-hits, .vdh-fullwidth.hit-descr, 
.hit-thumbnail, .click.hit-actions, .vdh-container,
.no-media {background: #333 !important}

.vdh-fullwidth.hit-descr:hover, .vdh-container:hover,
.hit-thumbnail:hover, .click.hit-actions:hover {background: #444 !important}

footer, .buttons-opener, button, .buttons-container, .default-check,
.actions, .back-margin {background: #222 !important}

.actions {box-shadow: -5px 0 5px 0px #000 !important}

button:hover {background: #444 !important}

.hit-title-text, .no-media, .action-title {color: #fff !important}

.action-descr, .default-check, code {color: #aaa !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON ALERT UPON DOWNLOAD ------*/
@-moz-document url-prefix(moz-extension://711939e6-6e2a-4563-8944-9f0fa3b01df7/content/alert.html) {
.dialog-in-tab {background: #222 !important}
	
.alert-dialog .alert-dialog-content {
	background: #444 !important;
	color: #ddd !important}

.alert-dialog header, .alert-dialog footer {
	background: #333 !important;
	color: #fff !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON DETAILS PAGE ------*/
@-moz-document url-prefix(moz-extension://711939e6-6e2a-4563-8944-9f0fa3b01df7/content/details.html) {
header, tr:nth-child(even) {background: #222 !important; color: #fff !important}
main, tr:nth-child(odd) {background: #333 !important; color: #fff !important}
}
