/* You can find an updated version here: https://github.com/Izheil/Firefox-57-full-dark-theme-with-scrollbars */
/* Made by Izheil */
/* Last updated: 24/01/2018 */

/* DO NOT DELETE THIS LINE */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* COLORING PART STARTS HERE */

/* v Fix to make the pre-render loading page dark instead of white v */
browser[type="content-primary"], tabbrowser tabpanels, #appcontent > #content
{background-color: #202020 !important}

/* TOOLBAR, TABS AND URL BAR */

/* This root class will modify the colors of toolbar background color (by default is transparent white 
without this change) */
:root:-moz-lwtheme {
  --toolbar-bgcolor: rgba(0,0,0,.6) !important;

  /* Url and search bars */
  --url-and-searchbar-background-color: rgb(71, 71, 73);
  --url-and-searchbar-color: #FFF;
  --urlbar-separator-color: #5F6670}

/* Tabs border color */
.tabbrowser-tab {border-right: 1px solid rgba(255,255,255, .15) !important}

/* Max, min and close buttons */

/* This prevents any custom windows theme to change the background color
of the minimize, maximize and close buttons */
#titlebar-min:not(:hover), #titlebar-max:not(:hover), 
#main-window[sizemode="maximized"] #titlebar-max:not(:hover),
#titlebar-close:not(:hover) 
{background-color: transparent !important}

/* This changes the color on hover of the minimize and maximize buttons */
#titlebar-min:hover, #titlebar-max:hover, 
#main-window[sizemode="maximized"] #titlebar-max:hover 
{background-color: #2050AA !important}

/* This changes the close button hover color */
#titlebar-close:hover {background-color: #FF0000 !important}

/* The downloads progress bar color */
.progress-bar {background: #3070dd !important}

/* CUSTOMIZATION PAGE */

/* The windows default theme colors will mainly affect the customizing page (when
you aren't using the default dark theme of mozilla, that is) */
@media (-moz-windows-default-theme) {
  :root {
    --toolbar-non-lwt-bgcolor: #303030 !important;
    --toolbar-non-lwt-textcolor: #fff !important}
}

/* The customization page button colors */
.customizationmode-button {
    background: linear-gradient(#555, #222) !important;
    color: #fff !important}

.customizationmode-button:hover {
  background: linear-gradient(#222, #555) !important;
  color: #fff !important}

#customization-done-button {
  background: linear-gradient(#2050AA, #203050) !important;
  border: 1px solid #0050aa !important}

#customization-done-button:hover {
  background: linear-gradient(#203050, #2050AA) !important;
    color: #0ff !important}

/* CONTEXT MENUS */

/* Main menu colors */
:root {
  --panel-separator-color: rgba(0,0,0, .5) !important;
  --arrowpanel-background: #444 !important;
  --arrowpanel-color: #ccc !important;
  --in-content-box-background: #333 !important;
  --in-content-box-background-hover: #444 !important}

/* Fix for the panel arrows (Thanks to BelladonnavGF for pointing out the bug) */
.panel-arrow {filter: invert(73%) !important;}

/* Zoom reset button on the main menu */
#appMenu-zoomReset-button {background-color: #666 !important}
#appMenu-zoomReset-button:hover {background-color: #333 !important}
#appMenu-zoomReset-button:active {background-color: #222 !important}

/* This one changes the letters color of all context menus */
menu, menuitem {
  color: #aaa !important;
  -moz-appearance: none !important}

/* Padding for all menu items (do NOT change unless you want an spaced or indented upon 
selection effect). The open in tabs bookmark item is added here since it also needs the 
padding that we remove in the next rule */ 
menuitem, .bookmark-item .openintabs-menuitem {
  padding-top: 3px !important;
  padding-bottom: 2px !important}

/* This removes the unnecesary padding from the bookmark items */
.bookmark-item menuitem {
  padding-top: 0px !important;
  padding-bottom: 0px !important}

/* This changes the color on hover of the context-menu items */
menubar > menu[_moz-menuactive="true"],
menupopup > menu[_moz-menuactive="true"],
popup > menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"]
{background-color: #25a !important}

/* This does the same but for disabled ones */
menubar > menu[_moz-menuactive="true"][disabled="true"],
menupopup > menu[_moz-menuactive="true"][disabled="true"],
popup > menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"] 
{background-color: #333 !important} 

/* This changes the text color of the greyed out actions on the context menus */
menuitem[disabled="true"]{color: #222 !important}

/* This one applies to all context menus (If you want to theme the browser this one is better instead 
of going one by one) */
menupopup .scrollbox-innerbox {background-color: #444 !important}

/* The following code changes the borders of all the context menus (except the ones above mentioned),
as well as ignoring the bookmark menu context menu */
menupopup {
  -moz-appearance: none !important;
  border: 2px solid #111 !important}

/* Context menu separator color override */
menuseparator {
  -moz-appearance: none !important;
  margin: 1px 0 1px 2.3em !important;
  height: 1px !important;
  border: none !important;
  background: #222 !important;
  padding: 0 !important}

/* This removes the borders for the bookmark menu button next to the url bar */
#BMB_bookmarksPopup, #BMB_bookmarksPopup menupopup {border: none !important}

/* Fix for the space above the "save as" option after the navigation buttons have been eliminated. Change 
if necessary depending on if you are using a custom OS theme (which may mess up the padding of the separators) */
#context-savepage {padding-top: 3px !important}

/* AUTOCOMPLETE COLORS */

/* This changes the autocomplete popup borders */
#PopupAutoCompleteRichResult, #PopupSearchAutoComplete, #PopupAutoComplete
{border: 1px solid #000 !important}

/* This changes the autocomplete background color of the URL bar */
.autocomplete-richlistbox,
/* Changes the color of searchbox  old searches (Continues from above) */
.search-panel-tree {background-color: #444 !important}

/* Changes the color of the highlighted item (only the selected one) on the url and searchbar */
.autocomplete-richlistitem[selected="true"], 
.search-panel-tree > .autocomplete-treebody::-moz-tree-cell(fromhistory, selected)
{background-color: #25a !important}

/* Changes the color of the autocomplete on the URL bar */
#PopupAutoCompleteRichResult .ac-title-text,
#PopupAutoCompleteRichResult .ac-tags-text,
#PopupAutoCompleteRichResult .ac-action-text,

/* Changes the color of the autocomplete on web area inputs (Continues from above) */
.autocomplete-richlistbox .ac-action-text, 
.autocomplete-richlistbox .ac-tags-text,
.autocomplete-richlistbox .ac-title-text,

/* Changes the color of search old searches (Continues from above) */
.search-panel-tree 
{color: #ccc !important}

/* The search autocomplete "-" lines */
.ac-separator {color: #222 !important}

/* Changes the color of the autocomplete links on the URL bar */
#PopupAutoCompleteRichResult .ac-url-text {color: rgb(0,160,200) !important}

/* Changes the color of header of the search option */
.search-panel-header, .addengine-item {
  background-color: #333 !important;
  color: #ccc !important}

/* Changes the color of the "Add x new search engine" hover effect */
.addengine-item:hover {background-color: #444 !important}

/* Changes the color of search engines choices */
.search-panel-one-offs {background: linear-gradient(#337,#115) !important}

/* Changes the color of search engine options button */
.search-setting-button {
    background: linear-gradient(#333,#111) !important;
    color: #777 !important}

.search-setting-button:hover {background: linear-gradient(#111,#333) !important}

/* Changes the color of searched item on the search popup */
.search-panel-input-value {color: #0FF !important}

/* SIDEBAR */

/* These change the color of the sidebar */
#sidebar-header {
  color: #fff !important;
  background-color: #303030 !important;
  -moz-appearance: none !important} 

#sidebar-search-container, #bookmarks-view-children, #historyTree, #sidebar {
  -moz-appearance: none !important;
  background-color: #404040 !important;
  color: #ccc}

.sidebar-splitter {
  border-right: 2px solid #000 !important;
  -moz-appearance: none !important}

/* Highlighted items */
treechildren {

/* These change the colors of the borders when selected/hovered */
  --treechildren-selectedColor: none !important;
  --treechildren-focusColor: rgb(123,195,255) !important;
  --treechildren-hoverColor: none !important;
  --treechildren-selectedFocusColor: rgb(205,232,255) !important;

/* These change the background colors when hovered/selected */
  --treechildren-selectedImage: linear-gradient(rgb(190,190,190), rgb(190,190,190)) !important; 
  --treechildren-hoverImage: linear-gradient(rgb(34,85,170), rgb(34,85,170)) !important; 
  --treechildren-hoverCurrentImage: linear-gradient(rgba(34,85,170,.16), rgba(34,85,170,.16)) !important;
  --treechildren-hoverSelectedImage: linear-gradient(rgb(205,232,255), rgb(205,232,255)) !important}

/* This is a fix for those using an OS theme (they change the background and text color on hover), 
if you don't see a blue hover color on items on the sidebar, use this method instead *//*
#bookmarks-view treechildren::-moz-tree-cell(hover),
#historyTree treechildren::-moz-tree-cell(hover) {
  background-image: linear-gradient(rgb(34,85,170), rgb(34,85,170)) !important;
  color: #fff !important}

#bookmarks-view treechildren::-moz-tree-cell(selected),
#historyTree treechildren::-moz-tree-cell(selected){
  background-image: linear-gradient(rgb(40,40,40), rgb(40,40,40)) !important;
  color: #000 !important}

/* This changes the sidebar searchbar */
#sidebar-search-container #search-box {
  -moz-appearance: none !important;
  background-color: #222 !important;
  color: #fff !important}

/* ^ COLORING PART ENDS HERE - FEATURES PART STARTS HERE v */

/* SIDEBAR */

/* Allow sidebar to be closed completely using the slider */
#sidebar-box {overflow-x: hidden !important}

#sidebar {
  min-width: 0px !important;
  max-width: none !important;
  overflow-x: hidden !important}

/* URL bar */

/* This allows you to change the font of the url to prevent ULR spoofing with a more
differentiable font (Thanks to BelladonnavGF for the tip) */ 

/* v Delete the "/*" after this comment to use it */ 
  /*
#urlbar {font-family: Georgia !important}

/* TABS */

/* Tab bar below (You can set the order of each bar here. 1 for top, and 3 bottom) */

/* For best results, you should enable the "Title bar" when using this (or you won't be able
to use the close, minimize, and resize buttons */

/* #nav-bar is the ID for the URL bar, #PersonalToolbar the ID for the bookmarks bar, and
#TabsToolbar should be self-explanatory (The tabs on bottom are already set by default here) */

/* v Delete the "/*" after this comment to use it */ 
  /*
#nav-bar {-moz-box-ordinal-group: 1 !important}
#PersonalToolbar {-moz-box-ordinal-group: 2 !important}
#TabsToolbar {-moz-box-ordinal-group: 3 !important}

/* ROUNDED TABS */ 
/* v Delete the "/*" after this comment to use it */ 
  /*
.tab-background {
  border-radius: 15px 15px 0px 0px !important;
  border-image: none !important}

.tab-line {
  margin-left: 12px;
  margin-right: 12px} 

/* TAB CLOSE BUTTON ALWAYS VISIBLE */
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:not([pinned]) .tab-close-button {
  	visibility: visible !important;
  	display: block !important}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:not([pinned])[faviconized="true"] .tab-close-button {
  	visibility: collapse !important;
  	display: none !important}

/* MULTIROW TABS */
.tabbrowser-tab:not([pinned]) {
    flex-grow:1;
    min-width:150px}

.tabbrowser-tab,.tab-background {height:var(--tab-min-height)}

.tab-stack {width: 100%}

.tabbrowser-tabs .scrollbox-innerbox {
    display: flex;
    flex-wrap: wrap}

.tabbrowser-tabs .arrowscrollbox-scrollbox {
    overflow: visible;
    display: block}

#titlebar {height:var(--tab-min-height) !important}

/* A little fix for Win10 so that it won't show on win8 a bigger background for the close/min buttons*/
@media (-moz-os-version: windows-win10) {
         #titlebar-buttonbox {height:var(--tab-min-height) !important}}

#titlebar {margin-bottom:calc(1px + var(--tab-min-height)*-1) !important}

#main-window[sizemode="maximized"] #titlebar
{margin-bottom: calc(8px + var(--tab-min-height)*-1)!important}

#main-window[sizemode="maximized"][uidensity=compact] #titlebar
{margin-bottom: calc(6px + var(--tab-min-height)*-1)!important}

/* Change the tab line size in case you don't see it while on resized mode*/
.tab-line {height: 2px !important}

/* Change the tab line size in case you don't see it while on maximized mode*/
#main-window[sizemode="maximized"] .tab-line {height: 2px !important}

#titlebar:active {margin-bottom: 0 !important}

#titlebar:active #titlebar-content {margin-bottom:var(--tab-min-height) !important}

.tabbrowser-tabs .scrollbutton-up,.tabbrowser-tabs .scrollbutton-down,#alltabs-button,.tabbrowser-tab:not([fadein])
{display: none}

/* MULTI-ROW BOOKMARKS TOOLBAR */

/* Provide room for up to 1 row at 20px each + 1px margin top and bottom */
#PersonalToolbar {max-height: 22px !important} 
/*
#PlacesToolbarItems > box {display: inline-block !important}

#PlacesToolbarItems {overflow: visible !important}

/* CONTEXT MENU COMMANDS */

/* All of these commands are divided so that they can be explained, but they are all
part of the same rule */

/* Navigation buttons (Back, forward and reload buttons) & it's separator */
#context-navigation, #context-sep-navigation,

/* Send image... */ 
#context-sendimage,

/* Set image as desktop background... */
#context-setDesktopBackground, 

/* Bookmark this page */ 
#context-bookmarkpage,

/* Send page... */ 
#context-sendpage,

/* Bookmark this link */ 
#context-bookmarklink,

/* Send link... */ 
#context-sendlink,

/* Open link in a new tab */ /*
#context-openlinkintab,
/* Open link in a new window */
#context-openlink,
/* Open link in a new private window */
#context-openlinkprivate,
/* Open link commands separator (should only disable if you don't use any of the "open link..." commands) */
#context-sep-open,

/* Take a screenshot & it's separator */ 
#screenshots_mozilla_org_create-screenshot, #_479f0278-2c34-4365-b9f0-1d328d0f0a40__separator,

/* Send tab to device... (including it's separator) */ 
#context_sendTabToDevice, #context_sendTabToDevice_separator,

/* Send page to device... (including it's separator)*/ 
#context-sendpagetodevice, #context-sep-sendpagetodevice,

/* Send link to device... (including it's separator)*/ 
#contentAreaContextMenu #context-sendlinktodevice, 
#contentAreaContextMenu #context-sep-sendlinktodevice 
{display: none !important}
