/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 10/05/2020 */

/* Autohide bookmarks toolbar */
#navigator-toolbox:not(:hover) #PersonalToolbar {visibility: collapse !important}
#navigator-toolbox:hover #PersonalToolbar {visibility: visible !important}
#navigator-toolbox:hover #PersonalToolbar .bookmark-item {visibility: visible !important}