/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 10/05/2020 */

/* This will enable the menu bar and bookmarks bar to appear on fullscreen. Do not enable if using bookmarks-toggle.uc.js */
#navigator-toolbox[inFullscreen="true"] #toolbar-menubar,
#navigator-toolbox[inFullscreen="true"] #PersonalToolbar[collapsed="false"] {visibility: visible !important}