/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 22/04/2021 */

/* Multirow bookmarks toolbar */
#PersonalToolbar {
  max-height: unset !important}

#PlacesToolbar > hbox:first-child {
  display: block}

#PlacesToolbarItems {
    display: flex;
    flex-wrap: wrap}

#PlacesChevron {
  padding-top: 0 !important;
  padding-bottom: 0 !important}