/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 16/03/2020 */

/* TAB BAR BELOW
You can set the order of each bar here. 1 for top, and 3 bottom.
Don't use this one if you already have the tabs below fix on your userChrome.

Explanation of what each rule affects:
- #nav-bar is the ID for the URL bar. 
- #PersonalToolbar the ID for the bookmarks bar.
- #titlebar should be affects the tabs bar and the menu bar (where file/tools menus are) */

#nav-bar {-moz-box-ordinal-group: 1 !important}
#PersonalToolbar {-moz-box-ordinal-group: 2 !important}
#titlebar {-moz-box-ordinal-group: 3 !important}

#toolbar-menubar .titlebar-buttonbox-container {
  display: block !important;
  position: absolute !important;
  top: 0;
  right: 0}

/* You may need to change this to remove padding above tabs */
#main-window[sizemode="maximized"] #titlebar {margin-top: -8px !important} 
#main-window[sizemode="normal"] #titlebar {margin-top: -1px !important}
/* ^ Change to -1px in the "maximized" rule if the tabs are overlapping the toolbar above them ^ */

/* We set the tabs to be exactly at the bottom */
#main-window:not([customizing="true"]) #TabsToolbar {margin-bottom: -1px !important}

/* Change the non 0 px values to any other to make the area of each menubar item bigger. 
The values are 1px 0 1px 0 by default (corresponding to Top, Right, Down, Left sides) */
#main-menubar > menu {padding: 5px 0 !important}

/* These control the space to leave on top of the window for the menu toolbar.
   Don't change the #navigator-toolbox margins to anything lower than 35px on maximized window
   and 28px on normal window if you want to see the menu bar 
   on top of all bars */
#main-window[sizemode="maximized"] #navigator-toolbox {margin-top: 35px !important}
#main-window[sizemode="normal"] #navigator-toolbox {margin-top: 28px !important}
/* ^ Change the "normal" one to 35px or more if there is not enough space for the menu bar to 
     fit in a resized window ^ */
/* ^ For menu-over-tabs instead, change to 10px on maximized, and remove the normal one ^ */

/* This changes the menu bar on top of the screen instead of over the tab bar. Delete or comment out 
if you want to use menu-over-tabs version */
#toolbar-menubar {
  display: flex !important;
  position: fixed !important;
  flex-wrap: nowrap;
  width: 100% !important;
  top: 0}

/* There seems to be an issue with the "top:" rule inside #toolbar-menubar that would not allow fullscreen
to autohide, so it's safest to just hide it on fullscreen. Delete if using menu-over-tabs instead. */
#main-window[sizemode="fullscreen"] #toolbar-menubar {display: none !important}

/* These add spacing above the menu bar. Remove if using menu-over-tabs v */
#main-window[sizemode="normal"] #toolbar-menubar {
  margin-top: 0px}

#main-window[sizemode="maximized"] #toolbar-menubar {
  margin-top: 7px}
/* ^ Change to 0px if there is empty space above the menu bar when on maximized mode ^ */
