/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 25/05/2019 */

/* SIDEBAR */

/* Allow sidebar to be closed completely using the slider */
#sidebar-box {overflow-x: hidden !important}

#sidebar {
  min-width: 0px !important;
  max-width: none !important;
  overflow-x: hidden !important}

/* URL bar */

/* This allows you to change the font of the url to prevent ULR spoofing with a more
differentiable font (Thanks to BelladonnavGF for the tip) */ 
#urlbar {font-family: Georgia !important}

/* FULLSCREEN FIX */
/* This will enable the menu bar and bookmarks bar to appear on fullscreen. Do not enable if using bookmarks-toggle.uc.js */
#navigator-toolbox[inFullscreen="true"] #toolbar-menubar,
#navigator-toolbox[inFullscreen="true"] #PersonalToolbar[collapsed="false"] {visibility: visible !important}

/* TAB BAR BELOW
You can set the order of each bar here. 1 for top, and 3 bottom) */

/* #nav-bar is the ID for the URL bar, #PersonalToolbar the ID for the bookmarks bar, and
#titlebar should be self-explanatory (The tabs on bottom are already set by default here) */

#nav-bar {-moz-box-ordinal-group: 1 !important}
#PersonalToolbar {-moz-box-ordinal-group: 2 !important}
#titlebar {-moz-box-ordinal-group: 3 !important}

#toolbar-menubar .titlebar-buttonbox-container {
  float: right !important}

/* Don't change the #navigator-toolbox margin unless you want more margin on top */
#main-window:not([sizemode="fullscreen"]) #navigator-toolbox {margin-top: 35px !important}
/* ^ Don't change the margin to anything lower than 35px if you want to use the menu bar on top ^ */

/* v This changes the menu bar on top of the screen intead of over the tab bar */
#toolbar-menubar {
  position: fixed !important; 
  width: 100% !important;
  top: 0 !important;
  margin-top: 7px !important}

#main-menubar > menu {padding: 5px 0 5px 0 !important}

#main-window[sizemode="fullscreen"] #toolbar-menubar {display: none !important}
#main-window:not([sizemode="fullscreen"]) #toolbar-menubar {display: block !important}
/* ^ There seems to be an issue with the "top:" rule inside #toolbar-menubar that would not allow fullscreen
to autohide, so it's safest to just hide it on fullscreen */

/* MULTI-ROW BOOKMARKS TOOLBAR */
#PersonalToolbar {
  min-height: 21px !important;
  max-height: calc(23px*(var(--bookmark-max-rows))) !important}

#PlacesToolbar, #PlacesToolbarItems {
  overflow: visible;
  display: block}

#PlacesToolbarItems > .scrollbox-innerbox {
    display: flex;
    flex-wrap: wrap; 
    overflow: auto;
    max-height: calc(23px*(var(--bookmark-max-rows))) !important}

/* AUTO-HIDE BOOKMARKS TOOLBAR */
#navigator-toolbox:not(:hover) #PersonalToolbar {visibility: collapse !important}
#navigator-toolbox:hover #PersonalToolbar {visibility: visible !important}
#navigator-toolbox:hover #PersonalToolbar .bookmark-item {visibility: visible !important}
