/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 06/05/2019 */

/* SIDEBAR */

/* Allow sidebar to be closed completely using the slider */
#sidebar-box {overflow-x: hidden !important}

#sidebar {
  min-width: 0px !important;
  max-width: none !important;
  overflow-x: hidden !important}

/* URL bar */

/* This allows you to change the font of the url to prevent ULR spoofing with a more
differentiable font (Thanks to BelladonnavGF for the tip) */ 
#urlbar {font-family: Georgia !important}

/* FULLSCREEN FIX */
/* This will enable the menu bar and bookmarks bar to appear on fullscreen. Do not enable if using bookmarks-toggle.uc.js */
#navigator-toolbox[inFullscreen="true"] #toolbar-menubar,
#navigator-toolbox[inFullscreen="true"] #PersonalToolbar[collapsed="false"] {visibility: visible !important}


/* MULTI-ROW BOOKMARKS TOOLBAR */

/* To use the scrolling multirow bookmarks you have to delete the /* under this line */
#PersonalToolbar {
  min-height: 21px !important;
  max-height: calc(23px*(var(--bookmark-max-rows))) !important}

#PlacesToolbar, #PlacesToolbarItems {
  overflow: visible;
  display: block}

#PlacesToolbarItems > .scrollbox-innerbox {
    display: flex;
    flex-wrap: wrap; 
    overflow: auto;
    max-height: calc(23px*(var(--bookmark-max-rows))) !important}

/* AUTO-HIDE BOOKMARKS TOOLBAR */
#PersonalToolbar {visibility: collapse !important;}
#navigator-toolbox:hover > #PersonalToolbar {visibility: visible !important}
