/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 06/11/2019 */

/* TAB RELATED TWEAKS */

/* This deletes the space that comes before the min/max/close button (space where you can place addons), but
after the tabs section */
.titlebar-spacer {width: 10px !important}

/* TAB BAR BELOW
You can set the order of each bar here. 1 for top, and 3 bottom.
Don't use this one if you are using the multirow version of tabs below.

Explanation of what each rule affects:
- #nav-bar is the ID for the URL bar. 
- #PersonalToolbar the ID for the bookmarks bar.
- #titlebar should be affects the tabs bar and the menu bar (where file/tools menus are) */

#nav-bar {-moz-box-ordinal-group: 1 !important}
#PersonalToolbar {-moz-box-ordinal-group: 2 !important}
#titlebar {-moz-box-ordinal-group: 3 !important}

#toolbar-menubar .titlebar-buttonbox-container {
    display: block !important;
    float: right !important}

/* You may need to change this to remove padding above tabs */
#titlebar {margin-top: -7px !important}

/* Change the non 0 px values to any other to make the area of each menubar item bigger. 
The values are 1px 0 1px 0 by default (corresponding to Top, Right, Down, Left sides) */
#main-menubar > menu {padding: 5px 0 5px 0 !important}

/* Don't change the #navigator-toolbox margin unless you want more margin on top */
#main-window:not([sizemode="fullscreen"]) #navigator-toolbox {margin-top: 35px !important}
/* ^ Don't change the margin to anything lower than 40px if you want to use the menu bar on top ^ */

/* v This changes the menu bar on top of the screen intead of over the tab bar */
#toolbar-menubar {
  position: fixed !important; 
  width: 100% !important;
  top: 0 !important;
  margin-top: 7px !important}

#main-window[sizemode="fullscreen"] #toolbar-menubar {display: none !important}
#main-window:not([sizemode="fullscreen"]) #toolbar-menubar {display: block !important}
/* ^ There seems to be an issue with the "top:" rule inside #toolbar-menubar that would not allow fullscreen
to autohide, so it's safest to just hide it on fullscreen */

/* ROUNDED TABS */
.tab-background {
  border-radius: 15px 15px 0px 0px !important;
  border-image: none !important}

.tab-line {
  margin-left: 12px;
  margin-right: 12px}

/* TAB CLOSE BUTTON ALWAYS VISIBLE */
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:not([pinned]) .tab-close-button {
  	visibility: visible !important;
  	display: block !important}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:not([pinned])[faviconized="true"] .tab-close-button {
  	visibility: collapse !important;
  	display: none !important}

/* TAB READ/UNREAD COLORS */

/* You need to have setAttribute_unread.uc.js inside your chrome folder for the "loaded but unread" setting to work */
/* You can bold the text of any tab adding "font-weight: bold !important" after their last rule, but before the "}"  */

/* Selected (loaded) */
.tabbrowser-tab[selected="true"] .tab-label {
  color: #fff !important;
  font-style: normal !important;
  font-weight: normal !important}

.tabbrowser-tab[selected="true"] .tab-content {
  background-color: transparent !important;
  clip-path: inset(2px 0 0 0);}

/* Loaded but unread (not selected) */
.tabbrowser-tab:not([selected="true"])[unread] .tab-label {
  color: #eee !important;
  font-style: italic !important;
  font-weight: normal !important}

.tabbrowser-tab:not([selected="true"])[unread] .tab-content {
  background-color: transparent !important}

/* Not loaded yet (also visited) */
.tabbrowser-tab:not([selected="true"])[pending] .tab-label,
.tabbrowser-tab:not([selected="true"])[visited] .tab-label {
  color: #ccc !important;
  font-style: italic !important;
  font-weight: normal !important}

.tabbrowser-tab:not([selected="true"])[pending] .tab-content,
.tabbrowser-tab:not([selected="true"])[visited] .tab-content {
  background-color: transparent !important}

/* loading */
.tabbrowser-tab[busy] .tab-text.tab-label {
  color: #0088ff !important;
  font-style: normal !important;
  font-weight: normal !important}

.tabbrowser-tab[busy] .tab-content {
  background-color: transparent !important}