/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 08/09/2018 */

/* TOOLTIPS */
tooltip, #statuspanel-label {
  -moz-appearance: none !important;
  background: rgba(50,50,50,0.8) !important;
  color: #eee !important;
  border: 1px solid #111 !important;
}
