/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 07/09/2024 */

/* Disables resizing of the URLbar completely */
#urlbar[breakout-extend] {
  width: 100% !important;
  top: 4px !important;
  left: 0 !important;
  padding: 0 1px 0 1px;
}

#urlbar[breakout-extend] > .urlbar-input-container {
  min-height: var(--urlbar-height) !important;
  height: 100% !important;
  padding-inline: 0 !important;
  padding-block: 0 !important;
}

#urlbar[breakout-extend] > #urlbar-background {
  box-shadow: none !important;
}