/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 10/05/2020 */

/* This allows you to change the font of the url to prevent ULR spoofing with a more
differentiable font (Thanks to BelladonnavGF for the tip) */ 
#urlbar {font-family: Georgia !important}