/* You can find an updated version here: https://github.com/Izheil/Firefox-57-full-dark-theme-with-scrollbars */
/* Made by Izheil */
/* Last updated: 08/09/2018 */

/* TOOLTIPS */
tooltip, #statuspanel-label {
  -moz-appearance: none !important;
  background: rgba(20,20,20,0.8) !important;
  color: #eee !important;
  border: 1px solid #333 !important;
}
