/* You can find an updated version here: https://github.com/Izheil/Firefox-57-full-dark-theme-with-scrollbars */
/* Made by Izheil */
/* Last updated: 08/09/2018 */

/* TOOLTIPS */
tooltip, #statuspanel-label {
  -moz-appearance: none !important;
  background-color: #333 !important;
  color: #ddd !important;
  border: 1px solid #111 !important;
  padding: 5px !important;
}
