/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 06/09/2018 */

scrollbar {
	z-index: 2147483647 !important;
	position: relative !important;
}

scrollbar,
scrollbar * {
	-moz-appearance: none !important;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
	box-shadow: none !important;
}

scrollbar[orient="vertical"] {
	-moz-margin-start: 0px !important;
	max-width: 0px !important;
	min-width: 0px !important;
}

scrollbar[orient="horizontal"] {
	margin-top: 0px !important;
	max-height: 0px !important;
	min-height: 0px !important;
}

scrollbar thumb[orient="vertical"] {
	min-height: 0px !important;
	width: 0px !important;
	min-width: 0px !important;
	max-width: 0px !important;
}

scrollbar thumb[orient="horizontal"] {
	min-width: 0px !important;
	height: 0px !important;
	min-height: 0px !important;
	max-height: 0px !important;
}

scrollbar thumb {
	opacity: 0 !important; 
}


/* no buttons */
scrollbar scrollbarbutton{
	min-height: 0px !important;
	min-width: 0px !important;
	max-height: 0px !important;
	max-width: 0px !important;
	height: 0px !important;
	width: 0px !important;
}