/* You can find an updated version here: https://github.com/Izheil/Firefox-57-full-dark-theme-with-scrollbars */
/* Made by Izheil */
/* Last updated: 02/10/2018 */

/*------ HOW TO MAKE THE ADDON THEMES WORK ------*/
/* To use this part of the code, you will have to find the dynamic UUID of your extensions, and replace it where the 
it says "TYPE-UUID-OF-(EXTENSION-NAME)-HERE" in here.
To find the UUID of an extension, just open about:debugging, and the UUID of each extension should appear under each one
(They look like a bunch of numbers with some -'s in between, like this: 00b72a90-6883-4e98-8785-1620d6b75664).
If you did everything right, next time you start (or restart) firefox, the addon will be themed 
(Each addon has a different UUID, and the UUID of an addon can also change if you uninstall and reinstall it). */

/*------ UBLOCK ORIGIN BLOCKING PAGE ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-UBLOCK-ORIGIN-HERE/document-blocked.html){

html, body {background-color: #222 !important}

body {margin-top: 10em}

p, span {color: #ccc !important}

.fa {color: #fa0 !important}

a:link {color: #0084ff !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

button {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #333 !important;
  color: #ddd !important;
  border: none !important}

button:hover {
  background: #111 !important;
  color: #ddd !important}
}

/*------ UBLOCK ORIGIN CONTROL PANEL TOP BUTTONS ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-UBLOCK-ORIGIN-HERE/dashboard.html) {

#dashboard-nav-widgets {background: #222 !important; border-bottom: 1px solid black !important}

#dashboard-nav-widgets span {color: #ccc !important}

a {
	background-color: #444 !important; 
	color: #777 !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}

a.tabButton.selected {
	background-color: #333 !important; 
	color: #ccc !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}
}

/*------ UBLOCK ORIGIN CONTROL PANEL CONTENT PAGES ------*/
@-moz-document url(moz-extension://TYPE-UUID-OF-UBLOCK-ORIGIN-HERE/settings.html),
url(moz-extension://TYPE-UUID-OF-UBLOCK-ORIGIN-HERE/3p-filters.html),
url(moz-extension://TYPE-UUID-OF-UBLOCK-ORIGIN-HERE/1p-filters.html),
url(moz-extension://TYPE-UUID-OF-UBLOCK-ORIGIN-HERE/dyna-rules.html),
url(moz-extension://TYPE-UUID-OF-UBLOCK-ORIGIN-HERE/whitelist.html),
url(moz-extension://TYPE-UUID-OF-UBLOCK-ORIGIN-HERE/about.html),
url(moz-extension://TYPE-UUID-OF-UBLOCK-ORIGIN-HERE/advanced-settings.html){
body, html {
	background: #333 !important;
	color: #ccc !important;
}

a:link {color: #09f !important}
a:visited {color: #0070aa !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

a.fa.info, a.fa.mustread, a.fa.support, 
.fa.status.cache, .fa.status.updating {color: #bbb !important}

button:not(.whatisthis):not(#buttonUpdate) {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #555 !important;
  color: #ddd !important;
  border: none !important}

button:not(.whatisthis):not(#buttonUpdate):hover {
  background: #111 !important;
  color: #ddd !important}

button.whatisthis {filter: brightness(200%) !important}

button[disabled] {opacity: 0.5 !important}

#buttonUpdate, button.important {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #ffbb33 !important;
  color: #000 !important;
  border: none !important}

#buttonUpdate:hover, button.important:hover {
  background: #cc8800 !important;
  color: #ddd !important}

.cm-search-widget, .CodeMirror-gutters, 
.CodeMirror-merge-gap {background: #222 !important; border: none !important}

.cm-search-widget {border-bottom: 1px solid #000 !important;}

.CodeMirror, .CodeMirror-merge, .cm-search-widget input {
	-moz-appearance: none !important;
	background: #555 !important; 
	color: #aaa !important; 
	border: none !important}

.CodeMirror-line 

.cm-comment {color: #aaa !important}
.cm-staticnetBlock {color: #f62 !important}

a.fa.info.important {color: #fa0 !important}

.fa.status.unsecure, a.fa.remove {color: #f33 !important}

textarea, .whatisthis-expanded {
	-moz-appearance: none !important; 
	background-color: #222 !important; 
	color: #aaa !important;
	border: 2px solid #000 !important}


code {background-color: #222 !important}

.rulesContainer li:nth-child(odd) {background-color: #222 !important}
.rulesContainer li:nth-child(even) {background-color: #444 !important}

input[type=number] {
	-moz-appearance: none !important;
	background: #222 !important;
	border: 1px solid #000 !important;
	color: #ccc !important}
}

/*------ UBLOCK ORIGIN MENU POPUP ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-UBLOCK-ORIGIN-HERE/popup.html) {

#appinfo {background: #111 !important}

#refresh, #saveRules, #revertRules {background-color: #222 !important; border: 1px solid #000 !important}

/* Basic menu */
.tooltipContainer, #panes {background-color: #333 !important}

.tool.enabled:hover {color: #fff !important}

p {color: #ccc !important}
.statValue {color: #888 !important}

h2 {
	background-color: #222 !important; 
	color: #ddd !important}

div:not(.tooltipContainer):not(#panes):not(#rulesetTools):not(#refresh) {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) !important}

span[data-i18n-tip="popupTipRevertRules"], span[data-i18n-tip="popupTipSaveRules"] {
	background: #222 !important;
	border: 1px solid black !important}

span[data-src="/"], span[data-src="."] {
	border-left: 1px solid #000 !important}

#extraTools, #tooltip {
	background: #ddd !important;
	color: #ccc !important}

#extraTools span:hover {color: #888 !important}

/* Advanced menu */
#firewallContainer span {
	border-bottom: 1px solid #000 !important;
	color: #ccc !important}

#firewallContainer span:hover {background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)) !important}

#firewallContainer span span, #firewallContainer span span:hover  {
	background-image: none !important;
	border-bottom: 1px solid transparent !important}
}

/*------ UBLOCK ORIGIN UI LOGGER ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-UBLOCK-ORIGIN-HERE/logger-ui.html) {
.button, input, textarea {
	-moz-appearance: none !important;
	background: #444 !important;
	border: 1px solid #000 !important}

td {border: 1px solid #000 !important; background: rgba(255,255,255,0.1) !important}

td:hover {background: rgba(255,255,255,0.2)}

input, table, .dialog, textarea {color: #ddd !important}

.permatoolbar, .vscrollable, table, html, .dialog code, .dialog textarea {
	background: #222 !important}

.dialog tr {background-color: #555 !important}

#netInspector div#popupContainer {
	background: #333 !important; 
	border: 1px solid #111 !important}

#popupContainer > div {background: #555 !important}

.toolbar td, .dialog {
	border: none !important;
	background: #444 !important}

.headers {border-bottom: 1px solid #000 !important}

.header.dynamic.selected, .header.static.selected  {
	background-color: #444 !important; 
	color: #ccc !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}

.dialog .toolbar span#saveRules {	
	background-color: #555 !important; 
	border: 1px solid #000 !important;
	color: #ddd !important}

.dialog .toolbar span#saveRules:hover {	
	background-color: #333 !important;
	color: #fff !important}

button.important {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #ffbb33 !important;
  color: #000 !important;
  border: none !important}

button.important:hover {
  background: #cc8800 !important;
  color: #ddd !important}

.action .noop:hover, .action.noop.own {background: #ddd !important}

.header.dynamic, .header.static {
	background-color: #333 !important; 
	color: #777 !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !importan}

.dialog a:link {color: #0084ff !important}
.dialog a:hover {color: #0ff !important}
.dialog a:active {color: #0050aa !important}

.button.disabled {opacity: 0.5 !important}
}

/*------ FLASH VIDEO DOWNLOADER (youtube) ADDON OPTIONS PANEL------*/
@-moz-document url(moz-extension://TYPE-UUID-OF-FLASH-VIDEO-DOWNLOADER-HERE/options.html) {
body {background-color: #222 !important}

.white_area, #showMain.fvd_settings_container, .options {background-color: #444 !important}
.white_area {background-image: none !important}

.fvd_settings_title, .fvd_settings_description, 
.fvd_settings_fvd_description, span {color: #ccc !important}

#masterHead {background: #555 !important; color: #ccc !important}

#donateDownloadNative span {color: #fff !important}

h2 {color: #FFF !important}
}

/*------ FLASH VIDEO DOWNLOADER (youtube) ADDON POPUP ------*/
@-moz-document url(moz-extension://TYPE-UUID-OF-FLASH-VIDEO-DOWNLOADER-HERE/popup.html) {

body, .multiple_download_header, #filters_block,
#snifferNotice {background-color: #333 !important}

#download_container_wrapped, #download_item_container {background-color: #333 !important; color: #ccc !important}

.download_item.group-video:hover {background-color: #444 !important}
.download_group_item_wrapped:hover {background-color: #555 !important}

#help_link_help {display: none !important}

#help_link_folder {
	background: linear-gradient(#333, #111) !important; 
	color: #ccc !important;
	border: 1px solid #000 !important}
#help_link_folder:hover {background: linear-gradient(#111, #333) !important}

.downloader_filter_title, .downloader_check_text {color: #CCC !important}

#footer_container, #header_container {background-color: #222 !important}

#footer_container {border-top: 2px solid #000 !important}

.footer .footer-item {color: #fff !important}
.footer .footer-item:hover {background: #444 !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON COMMON PART ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-VIDEO-DOWNLOAD-HELPER-HERE/) {
main, .top-line, .files-list.headercontainer {background: #333 !important; color: #ccc !important}

.tablecontainer, select.form-control {
	background: #555 !important; 
	color: #ccc !important; 
	border: 1px solid #777 !important}

.dir-entry, .file-prompt .tablecontainer td, 
.file-prompt th {background: none !important; border: none !important}

.dropdown-toggle {background: #333 !important; border-bottom: 1px solid #fff !important}

a[aria-expanded="true"] {background: #444 !important; color: #0ff !important}

.btn-group {background: none !important}
.btn-group:active {outline: none !important}

.btn-toolbar {background: #333 !important; color: #ccc !important}

header {
	background: linear-gradient(#333,#111) !important; 
	color: #ddd !important;
	border: 1px solid #000 !important}

.btn-outline-secondary, .btn-secondary, 
.input-group-btn .btn, .list li {
  -moz-appearance: none !important;
  background: #555 !important;
  color: #ddd !important;
  border: 1px solid #444 !important;
  outline: none !important;
  box-shadow: none !important}

.btn-outline-primary {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #05a !important;
  color: #ddd !important;
  border: 1px solid #0040aa !important}

.btn-outline-primary:not[disabled]:hover {
	background: #003080 !important;
    color: #dff !important}

.btn-outline-secondary:hover, .btn-secondary:hover, .btn-success:hover {
	background: #111 !important;
	color: #fff !important}

.btn-success  {
	-moz-appearance: none !important;
	background: #00b300 !important; 
	color: #ddd !important;
	border: 1px solid #030 !important}

.btn-success:active {background: #008000 !important}

input, .input-license input, textarea {
	-moz-appearance: none !important;
	background: #555 !important;
	color: #fff !important;
	border: none !important}

.section-header, .dropdown-item:hover {background: #555 !important; color: #fff !important}
.card-body, .dropdown-menu.show, .dropdown-item {background: #444 !important; color: #ccc !important}

.modal-content, .list-column, footer, .weh-shf {background: #333 !important}
.modal-header, .param {background: #222 !important; color: #fff !important; border-bottom: 1px solid #000 !important}
.modal-body {color: #ddd !important}
.modal-footer {border-top: 1px solid #888 !important}
.close {color: #fff !important}

.active.nav-link {background: #444 !important; color: #0ff !important}
.nav-link {cursor: pointer !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON POPUP ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-VIDEO-DOWNLOAD-HELPER-HERE/content/popup.html) {
html, .content-hits, .vdh-fullwidth.hit-descr, 
.hit-thumbnail, .click.hit-actions, .vdh-container,
.no-media {background: #333 !important}

.vdh-container {
	border-bottom: 1px solid #000 !important;
	border-top: 1px solid #000 !important}

.click.hit, .vdh-fullwidth.hit-descr, .click.hit-actions {border: none !important}
.click.hit-actions:hover {border-left: 1px solid #000 !important}

.vdh-fullwidth.hit-descr:hover > .vdh-container, .vdh-container:hover,
.hit-thumbnail:hover, .click.hit-actions:hover {background: #444 !important}

footer, .buttons-opener, button, .buttons-container, .default-check,
.actions, .back-margin {background: #222 !important}

.actions {box-shadow: -5px 0 5px 0px #000 !important}

button:hover {background: #444 !important}

.hit-title-text, .no-media, .action-title {color: #fff !important}

.action-descr, .default-check, code {color: #aaa !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON ALERT UPON DOWNLOAD ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-VIDEO-DOWNLOAD-HELPER-HERE/content/alert.html) {
.dialog-in-tab {background: #222 !important}
	
.alert-dialog .alert-dialog-content {
	background: #444 !important;
	color: #ddd !important}

.alert-dialog header, .alert-dialog footer {
	background: #333 !important;
	color: #fff !important}
}

/*------ VIDEO DOWNLOAD HELPER ADDON DETAILS PAGE ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-VIDEO-DOWNLOAD-HELPER-HERE/content/details.html) {
header, tr:nth-child(even) {background: #222 !important; color: #fff !important}
main, tr:nth-child(odd) {background: #333 !important; color: #fff !important}
}

/*------ TAB SESSION MANAGER ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-TAB-SESSION-MANAGER-HERE/options/index.html),
url-prefix(moz-extension://TYPE-UUID-OF-TAB-SESSION-MANAGER-HERE/popup/index.html),
url-prefix(moz-extension://TYPE-UUID-OF-TAB-SESSION-MANAGER-HERE/replaced/index.html) {

:root {
    --main-text: #ddd !important;
    --sub-text: #aaa !important;
    --line: #36b2b2 !important;
    --button: #444 !important;
    --highlight: #36b2b2 !important;
    --main-bg: #333 !important;
    --new: #ff4f4f !important;
	--confirm: #ff4f4f !important}

.button {background: #444 !important}
.button:hover {background: #222 !important}

li.saveOnlyCurrentWindow {color: #ddd !important}
li.saveOnlyCurrentWindow:hover {color: #000 !important}

span.checkbox::before, #saveName {background: #303030 !important; border: 1px solid #666 !important}
span.checkbox:hover::before, #saveName:hover {border: 1px solid #36b2b2 !important}

#setting svg, .removeTagButton svg {fill: #000 !important}

#sessionsArea, .sessionName span {color: #fff !important}

textarea, #dateFormat {background: #303030 !important; color: #ddd !important}

#saveButton, #saveOptionButton {background: #555 !important}

#saveButton:not(:hover) {color: #ddd !important}

.tag span {color: #000 !important}

.tabTitle a {color: #09f !important}
.tabTitle a:hover {color: #0ff !important}
.tabTitle a:active {color: #0050aa !important}
}

/*------ UNDO LAST TAB ADDON ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-UNDO-LAST-TAB-HERE/data/popup/index.html) {
body, html {background: #333 !important}

li {color: #aaa !important}
li:hover {background-color: rgba(255,255,255, 0.1) !important}

li span {
	border-left: 1px solid #222 !important;
	box-shadow: inset 1px 0 0 0 #000 !important}

li[data-disabled="true"] {color: #666 !important}
li[data-disabled="true"]:hover {background-color: rgba(0,0,0, 0.2) !important}

.separator {
	border-top: 1px solid #222 !important;
	box-shadow: inset 1px 1px 0 #000 !important}
}

/*------ DOWNLOAD MANAGER (S3) ADDON CONFIGURATION PAGE ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-DOWNLOAD-MANAGER-(S3)-HERE/content/options.html),
url-prefix(moz-extension://TYPE-UUID-OF-DOWNLOAD-MANAGER-(S3)-HERE/content/create_new_downloads.html) {
body, html {background: #222 !important; color: #fff !important}

#tabsBox .tabsBox {background: #333 !important; border: 1px solid #555 !important}

#tabs a:not(.selected) {background-color: #383838 !important; color: #aaa !important}

#tabs a.selected, #generalTab, #appearanceTab, #virusScanTab,
#download_historyTab, .caption span {background-color: #444 !important; color: #ddd !important}

#tabs-generalTab a:not(.selected), #appearanceTab a:not(.selected) 
{background-color: #505050 !important; color: #aaa !important}

#tabs-generalTab a.selected, #generalTab--features, #generalTab--statusMode, #generalTab--queue,
#tabs-appearanceTab a.selected, #appearanceTab--style, #appearanceTab--layout, #generalTab--contextMenu 
{background-color: #555 !important; color: #ddd !important; border: none !important}

.groupbox {border: 1px solid #666 !important; box-shadow: 0 0 10px #000 !important}
.groupbox:hover:not([disabled]) {border: 1px solid #AF5CCB !important; box-shadow: 0 0 10px #712a89 !important}

.groupbox a:link, .groupbox a {color: #09f !important}
.groupbox a:visited {color: #0070aa !important}
.groupbox a:hover {color: #0ff !important}
.groupbox a:active {color: #0050aa !important}

input:not([type="number"]):not([type="checkbox"]):not([type="button"]):not([type="radio"]), textarea {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

#customStyle_form table.table_colors tr {background: none !important}

#customStyle_form .table_colors input:hover,
#appearanceTab--layout input[type="color"]:hover {border: 1px solid #fff !important}

#current_locale {border: 1px solid #666 !important}
	
.caption > div {
	border-radius: 6px !important; 
	background: #666 !important; 
	border: none !important}

#exclude_links_placeholder > div, 
#exclude_links_placeholder {border: none !important; background: none !important}

button, input[type="button"] {  
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background-color: #666 !important;
  color: #ddd !important;
  border: none !important}

button:hover, input[type="button"]:hover {  
  background-color: #222 !important;
  color: #fff !important;
  box-shadow: none !important}

#save_settings, #copy_settings, #load_settings, 
#reset_settings {padding: 0.5em !important}
}

/*------ DOWNLOAD MANAGER (S3) ADDON DOWNLOADS HISTORY PAGE ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-DOWNLOAD-MANAGER-(S3)-HERE/content/download_history.html),
url-prefix(moz-extension://TYPE-UUID-OF-DOWNLOAD-MANAGER-(S3)-HERE/content/file_checksum.html) {
body, html {background: #333 !important; color: #fff !important}

#download_action_head {background: linear-gradient(#333, #111) !important}

#download_action_head input[type="button"] {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background-color: #111 !important;
  color: #ddd !important;
  border: none !important}

#download_action_head input[type="button"]:hover {
  background-color: #555 !important;
  color: #fff !important}

#s3downbar_searchbox {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

#download_list_head {background: linear-gradient(#333, #555) !important}

#download_list_head, #download_list_head div {border-color: #222 !important}

.progress_bar[value] {background-color: #333 !important}

#download_list_box:not([start_draw="true"]) .grid_rows[is_selected="true"] {
	background-color: rgba(32, 96, 32, 0.3) !important;
	color: #53c653 !important}

#download_list_box:not([start_draw="true"]) .grid_rows:hover {
	background-color: rgba(255,255,255, 0.25) !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box {
	border: 1px solid #000 !important;
	background: #444 !important;
	color: #ddd !important;
	box-shadow: 0 0 10px #000 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box .contextmenu_menu:hover {
	background-color: #555 !important;
	color: #fff !important}
}

/*------ DOWNLOAD MANAGER (S3) ADDON DOWNLOADS POPUP ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-DOWNLOAD-MANAGER-(S3)-HERE/content/popup.html) {
#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha:not(.s3dmBox) {background-color: #333 !important; color: #fff !important}
#s3downbar_hide_button, #s3downbar_main_menu_button, #s3downbar_clear_button,
#s3downbar_holder_summary_progress {
	background-color: #000 !important; 
	color: #fff !important;
	border-color: #222 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box {
	border: 1px solid #000 !important;
	background: #444 !important;
	color: #ddd !important;
	box-shadow: 0 0 10px #000 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box .contextmenu_menu:hover {
	background-color: #555 !important;
	color: #fff !important}
}

/*------ DOWNLOAD MANAGER (S3) ADDON INFORMATION BOTTOM BAR ------*/
@-moz-document url-prefix(http), url-prefix(moz-extension://) {
#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .tooltip_box {
	background: linear-gradient(#333, #666) !important;
	color: #ddd !important;
	border: 1px solid #444 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box {
	border: 1px solid #000 !important;
	background: #444 !important;
	color: #ddd !important;
	box-shadow: 0 0 10px #000 !important}

#s3downbar-ibmbeeacmbeeaebmfjpmnlgkhoejinha .contextmenu_box .contextmenu_menu:hover {
	background-color: #555 !important;
	color: #fff !important}

#s3downbar_download_tooltip_data_box > .download_data_tooltip_data > tbody > tr > td > div,
#s3downbar_download_tooltip_filename {
	color: #fff !important}

#s3downbar_download_data_list_empty, #s3downbar_download_tooltip_hint_finish,
#s3downbar_download_tooltip_hint_progress {color: #aaa !important}

#s3downbar_download_tooltip_from {background-color: #333 !important; color: #05f !important}
}

/*------ PRIVACY BADGER ADDON SETTINGS PAGE ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-PRIVACY-BADGER-HERE/skin/options.html) {
body, html {background: #222 !important; color: #fff !important}

#tabs {background: #444 !important; color: #ccc !important; border: 1px solid #666 !important}

#tabs > ul {background-image: linear-gradient(#333, #222) !important; border: 1px solid #666 !important}

label, p, span.i18n_show_tracking_domains_acknowledgement, .origin.tooltip {color: #ddd !important}

span.i18n_options_webrtc_warning {color: #aaa !important}

span.i18n_import_user_data, span.i18n_export_user_data {color: #fff !important}

#tabs > ul > li {
	background: #252525 !important; 
	border: 1px solid #555 !important}

#tabs > ul > li span {color: #ccc !important}

#tabs > ul > li.ui-state-hover {
	background: #333 !important; 
	border: 1px solid #606060 !important}

#tabs > ul > li.ui-state-hover span {color: #ddd !important}

#tabs > ul > li.ui-state-active {
	background: #444 !important; 
	color: #fff !important; 
	border: 1px solid #666 !important}

#tabs > ul > li.ui-state-active span {color: #fff !important}

#newWhitelistDomain, #excludedDomainsBox, #trackingDomainSearch {
	-moz-appearance: none !important;
	color: #ddd !important;
	background: #303030 !important;
	border: 1px solid #666 !important}

#trackingDomainSearch:hover, #newWhitelistDomain:hover {
	border: 1px solid #db7924 !important}

#blockedResources > .keyContainer > .key {background: none !important}

#blockedResourcesInner > div {
	background: #444 !important; 
	color: #ccc !important;
	border-top: 1px solid #666 !important}

button {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #666 !important;
  color: #ddd !important;
  border: none !important}

button:hover {
	background: #555 !important;
	color: #fff !important}

a:link, a {color: #0bb !important}
a:visited, a:active {color: #088 !important}
a:hover {color: #0dd !important}
}

/*------ PRIVACY BADGER ADDON POPUP ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-PRIVACY-BADGER-HERE/skin/popup.html) {
body, html {background: #333 !important; color: #fff !important}

label, span, .origin.tooltip {color: #ddd !important}
span.i18n_name {color: #fff !important}

button {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #666 !important;
  color: #ddd !important;
  border: none !important}

button:hover {
  background: #444 !important;
  color: #fff !important}

a:link, a {color: #fc9336 !important}
a:visited, a:active {color: #a3540f !important}
a:hover {color: #f0a15c !important}

#instruction {background: #444 !important; color: #ddd !important}

#blockedResources > .keyContainer > .key {background: none !important}
#blockedResourcesInner > div {
	background: #333 !important; 
	color: #ccc !important;
	border-top: 1px solid #555 !important}
}

/*------ NOSCRIPT ADDON SETTINGS AND PROMPT PAGE ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-NOSCRIPT-HERE/ui/options.html),
url-prefix(moz-extension://TYPE-UUID-OF-NOSCRIPT-HERE/ui/prompt.html),
url-prefix(moz-extension://TYPE-UUID-OF-NOSCRIPT-HERE/ui/siteInfo.html) {
body, html {background: #222 !important}

#main {background: linear-gradient(#555,#111) !important; color: #fff !important}

#message {color: #fff !important}

h1 {color: #fff !important}
span {color: #ddd !important}

.flextabs__content, .flextabs__toggle[aria-expanded="true"] {
	background: #444 !important;
	color: #ddd !important}

.flextabs__toggle[aria-expanded="false"] {
	background: #404040 !important;
	color: #aaa !important}

button:not(.flextabs__toggle) {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #666 !important;
  color: #ddd !important;
  border: none !important}

button:not(.flextabs__toggle):hover {
  background: #333 !important;
  color: #fff !important}

.buttons button {padding: 5px !important; margin-right: 5px !important}

#button0, #button1 {padding: 5px !important}

.buttons button:hover {background: #444 !important}

.presets, .url, .customizer-controls {color: #000 !important}

#presets {filter: brightness(80%) !important}

a:link {color: #0084ff !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

.customizer fieldset label {color: #000 !important}

#newsite {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

#sites .sites tr {background: #555 !important}

#sites .sites tr:nth-child(even) {background: #666 !important}
}

/*------ NOSCRIPT ADDON POPUP ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-NOSCRIPT-HERE/ui/popup.html) {
body, html, #main {background: #333 !important; color: #ddd !important}

#top {border-bottom: 1px solid #555 !important}

button {background-color: transparent !important}

tr {color: #ddd !important}

#sites .sites tr {background: #333 !important}

span {color: #ddd !important}

#sites .sites tr:nth-child(odd) {background: #404040 !important}
}

/*------ S3 TRANSLATOR ADDON SETTINGS PAGE ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-S3-TRANSLATOR-HERE/content/options.html) {
body, html, center {background: #222 !important; color: #ddd !important}

#tabsBox .tabsBox {background: #333 !important; border: 1px solid #555 !important}

#tabs a:not(.selected) {background-color: #383838 !important; color: #aaa !important}

#tabs a.selected, #translateTab, #translatePageTab, #translateTextTab,
#translateLearningTab, #translateContextMenuTab, #translateClipboardTab, #translateOthersTab, 
.caption span {background-color: #444 !important; color: #ddd !important}

#translateTextTab a.selected, #translateTextTab--basicFunctions, #translateTextTab--selectedText, 
#translateTextTab--singleWord {
	background-color: #555 !important; color: #ddd !important; border: none !important}

#translateTextTab a:not(.selected)
{background-color: #505050 !important; color: #aaa !important}

.groupbox {border: 1px solid #666 !important; box-shadow: 0 0 10px #000 !important}
.groupbox:hover:not([disabled]) {border: 1px solid #AF5CCB !important; box-shadow: 0 0 10px #712a89 !important}

.groupbox a:link, .groupbox a {color: #09f !important}
.groupbox a:visited {color: #0070aa !important}
.groupbox a:hover {color: #0ff !important}
.groupbox a:active {color: #0050aa !important}

input:not([type="number"]):not([type="checkbox"]):not([type="button"]):not([type="radio"]), textarea {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

button, input[type="button"] {  
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background-color: #666 !important;
  color: #ddd !important;
  border: none !important}

button:hover, input[type="button"]:hover {  
  background-color: #222 !important;
  color: #fff !important;
  box-shadow: none !important}

#translateLearningTab input[type="color"]:hover {border: 1px solid #fff !important}

.caption > div:not(#hotkey_button_plus) {background-color: #444 !important; border-radius: 5px !important}

#current_locale {border: 1px solid #666 !important}

#save_settings, #copy_settings, #load_settings, 
#reset_settings {padding: 0.5em !important}
}

/*------ S3 TRANSLATOR ADDON POPUP AND DONATE PAGE ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-S3-TRANSLATOR-HERE/content/statistics.html),
url-prefix(moz-extension://TYPE-UUID-OF-S3-TRANSLATOR-HERE/content/popup.html) {
body, html {background: #333 !important; color: #ddd !important}

.s3gt_menu_action:not([is_inactive="true"]):hover {background-color: #333 !important}

#statistics_accept {background-color: #ddd !important}

h4.header {color: #fff !important}
}

/*------ WINDOW RESIZE ADDON ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-WINDOW-RESIZE-HERE/popup/choose_size.html) {
a {color: #ddd !important}
a:hover {
	background-color: rgba(255,255,255,0.2) !important; 
	color: #fff !important; 
	border-color: transparent !important}
}

/*------ LASTPASS PASSWORD MANAGER ADDON ------*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-LASTPASS-HERE/) {
html, body, .sliderContainer, #backButton, #u_combo, .selectDropdownList li,
#items li, .footer li, .settingsRow, .dialog, #logincontainer, #loginView .dropdownContainer div, 
#menucol, #rightside, #adframe, .actionsbox .menu.light, #vault, #vaultContent, #mainScroll, 
.ui-widget-overlay, .infield-dialog .header, .infield-dialog .footer, #thetree, #thetree li, #main,
.folderContainer, #mainScroll .tour {
	background-color: #444 !important; 
	color: #ccc !important}

#mainMenu {background-color: #444 !important}

.extensionCreateAccount .dialog-title {background-color: #333 !important; color: #ccc !important}

/* select {filter: invert(81%) hue-rotate(170deg) !important; color: #000 !important} */

#loginheader {color: #fff !important}

#rememberpasswordquestion {color: #ccc !important}

a:link:not(.rbtn), a:not(.rbtn), #lp_docwrite_login_small23a, #lp_docwrite_prefs46, #lp_docwrite_reenter_password3, 
#lp_docwrite_reenter_password4, #lp_docwrite_reenter_password5, .lptabs.activetab, 
.tablabel.tabactive, h1, .tabMenuItem.selected, #autoChangePassword {color: #f55 !important}
a:hover, #lp_docwrite_login_small23a:hover, #autoChangePassword:hover {color: #f88 !important}
a:active {color: #c30 !important}

#expandcollapse a:hover {color: transparent !important}

#cpwdialog .dialog_hdr {background: #333 !important}
#cpwdialog {border: 2px solid #333 !important}

.modal-body-content, .prefpane.row, .modal-body:not(#menu) .row-inner.light-gray, #vaultLoadingOverlay,
#lppopup, #tools, #notestype_combo, #group_combo, #navigationMenu, .dialogLeftMenu li:hover {
	background-color: #484848 !important}

.addMenuItem > div {
	filter: invert(70%) hue-rotate(180deg) contrast(150%) saturate(400%) !important}

.itemIcon > .bigIcon {
	filter: invert(62%) hue-rotate(180deg) saturate(400%) !important}

.dropdownContainer li, .childView li, .itemIcon, #lp_docwrite_prefs67, .label, .hr, .lptabs:not(.activetab), p,
div p {
	background-color: transparent !important; 
	color: #ccc !important}

.dropdownContainer li:hover, .childView li:hover, 
.ui-dialog-titlebar-close.ui-state-hover, #notestype_combo .item.focus,
#group_combo .item.focus, #navigationMenu li:hover, #items li:hover {background: rgba(255,255,255,0.1) !important}

.childView li {background-image: none !important}

.content, .dialogContent, .buttons, #sitebody, #searchform .topbar, #tdtabrow #tabrow, #headerli, 
#vaultLoadingOverlay, .ui-dialog, .ui-dialog-buttonpane, .ui-widget-content {
	background: #505050 !important;
	border: 1px solid #222 !important}

.ui-state-default {background-image: linear-gradient(#666, #333) !important}

.ui-dialog-titlebar, .ui-state-hover[type="button"] {
	background-image: linear-gradient(#333, #666) !important;
	border: 1px solid #222 !important}

.ui-state-default[type="button"], #ui-dialog-title-dialog,
#lpusername {color: #fff !important}

#tdtabrow #tabrow, .topborder {border-top: none !important}

.footer, .header, #childViews, #container, .dialogRightPane, 
.dialogLeftPane, .settingsRow, #logincontainer, #treepane, .actionsbox li,
iframe {border: none !important}

#loginView .buttons, .optionButtons, iframe, .addMenuItem span {
	background: transparent !important; border: none !important}

.optionButtons {box-shadow: none !important}

#container #searchContainer, #extensionDropdown, #u_combo, .selectDropdownList li,
.dialogContent, .buttons, #backButton, .dark-gray, #hotkeystable td {
	border: 1px solid #666 !important}

.footer li {border-top: 1px solid #666 !important}

.extensionMenuItem.group, .extensionMenuItem.item, .extensionMenuItem.addCustomItem, #siteheader,
#sitebody, #lppopup, #menucol, .toolsMenuItem {
	border-color: #666 !important}

.itemCheckbox {border-color: #333 !important}

.footer li {border-bottom: none !important}

.modal-body-content .tablerow:not(.tableheader), #hotkeystable tr:nth-child(odd),
.itemContents .tile, .list  {
	background-color: #606060 !important; border: none !important}

.toolsMenuItem:hover, .selectDropdownList li, #userMenuItems li,
#formFillView .row {background: #606060 !important}

#userMenuItems li, #dialogtext, .icon_text.icon.ntooltip,
#notestype_combo .item:not(.focus), #group_combo .item:not(.focus),
#formFillView .row {color: #ccc !important}

.rbtn, #advancedView label, #btnClose:hover, #thetree span {color: #fff !important}

#backButton:hover, .selectDropdownList li:hover, .footer li:hover, .dialogRightPane,
.settingsRow:nth-child(even), .dialogLeftMenu li, .modal-body-content .tablerow.hide, 
#hotkeystable tr:not(.dark-gray):nth-child(even), .selectDropdownList li:hover, 
#userMenuItems li:hover, #advancedView .row.advanced-background, .formFieldsView {background-color: #505050 !important}

.infield-dialog .gradient-to-right:after, .infield-dialog .gradient-to-right {
	background: none !important}

.dialogLeftMenu li.selected, .tileEdit.hoverFadeIn {background-color: #555 !important; color: #f55 !important}

.dialogLeftMenu li, #container .header, #items li {border-bottom: 1px solid #666 !important}

.dialogInput:not(select), #password, #email, #masterpassword, #confmasterpassword, #passwordreminder, #p, #u,
.dropdownHint, .radioContainer, .short-input, #hotkeystable input, #pin, #reenterpassword, 
#loginView input, #q, #url, #name, #group, #username, #notes, #notestype, #notestype_button
#extensionDropdown input:not(.clickToggles), #grpinp, #grpsel, #group_button, input[type="password"] {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

#container #searchContainer input {background: #222 !important; color: #ddd !important}

.dialogInput.clickToggles, #extensionDropdown .dropdownContainer input {
	background-color: #fff !important; 
	color: #000 !important;
	border: 1px solid #aaa !important;
	filter: invert(80%) hue-rotate(195deg) !important}

.item.focus, .actionsbox li:hover, .actionsbox2 li:hover {
	color: #f55 !important; background-color: rgba(0,0,0,0.1) !important}

#p, #u {box-shadow: inset 3px 4px 5px rgba(255,255,255,.09) !important}
.actionsbox li:hover, .actionsbox2 li:hover,
#thetree li:hover {box-shadow: 0 0 6px rgba(0,0,0,.5) !important}

#keyboardicon, #logoimg, .folderContainer .folderLabel {filter: brightness(200%) !important}
#deleteicon, #u_button, .actionsbox img, #grpsel_button, .folderLabel,
.toolsimg, .delimg, .shareimg, .editimg {filter: invert(80%) !important}

#mainScroll .tour, #mainScroll .tour p, #mainScroll .tour h1 {background-color: #444 !important}

.checkbox + label, .radio + label, #vaultToggle img {
	color: #000 !important; 
	filter: invert(80%) hue-rotate(185deg) saturate(250%) !important}

#page_passwordmeterback {filter: brightness(60%) !important} 

.dialogInput:not(select):active, #password:active {
	border: 1px solid #0050ff !important}

.glow {box-shadow: 0 0 4px #0050ff !important; outline: 1px solid #0050ff !important}

#main #username {background: transparent !important; border: none !important; color: #c30 !important}

#lpexpandimg, #lpcollapseimg, #advsettings img, #passwordtoggleimg,
#upgrade-families-icon img, #try-families-icon img, #siteactions img,
#formFillView .row .icon {filter: invert(70%) hue-rotate(195deg) !important}

a#cancel, a#login, #helptranslate, #f input#ok, #rememberpasswordyes, #rememberpasswordno, #lpfriendemail, a#lpaddattach {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #666 !important;
  color: #ddd !important;
  border: none !important;
  padding: 0.4em !important}

.optionsDropdown, .optionButton, .toggleButton, .wbtn, .gbtn, .remind-btn, a#bcnd, #moreOptions, #formFillView .row button,
#hideOptions {
  background-color: #666 !important;
  color: #ddd !important;
  border: none !important}

.row.advanced-background label {color: #fff !important}

.row.advanced-background, .col-12:not(#headerContainer) {background-color: #505050 !important}

.itemButton, #dynheader, #sortOrderMenu, #orderOption, #actions {background-color: #666 !important; border: none !important}
.itemButton:hover, #container .header {background-color: #333 !important}

.tile .itemButton, .actionButtonContainer .itemButton, .itemButtons .history, .dialogItemButtons .itemButton:not(.favButtonLabel) {
	background-color: #ddd !important;
	filter: invert(80%) brightness(150%) grayscale(100%) !important}

.tile .itemButton:hover, .actionButtonContainer .itemButton:hover, .itemButtons .history:hover, 
.dialogItemButtons .itemButton:not(.favButtonLabel):hover {
	background-color: #bbb !important}

.list .itemButton {background-color: #777 !important}

.list .itemButton:hover, .dialogItemButtons .favButtonLabel:hover {background-color: #888 !important}

.dialogInputOverlay {background-color: rgba(0,0,0,0.5) !important}

#helptranslate, #dynbody {background: #888 !important}

button#cancel {padding: 0.6em !important; background-color: #777 !important}

button#createaccountbtn, a#login, a#createanaccount, #loginView #logInButton {background: #d32d27 !important; color: #fff !important}

#addAttachmentButton, #sortOrderMenu li, #contextMenu li, #extensionDropdown .header div:hover {background-color: #666 !important; color: #ddd !important}
#addAttachmentButton:hover, #sortOrderMenu li:hover, .dialogHeader.dialogHeaderButtonsEnabled.titleEnabled, a#lpaddattach:hover,
#contextMenu li:hover, .optionsDropdown:hover, .optionButton:hover, .toggleButton:hover, a#bcnd:hover, #moreOptions:hover, #hideOptions:hover {
	background-color: #333 !important; 
	color: #fff !important}

a#cancel:hover, a#login:hover, #helptranslate:hover, #rememberpasswordyes:hover, #rememberpasswordno:hover, #lpfriendemail:hover,
#collapseAllToggle:hover, #sizeToggle:hover, #orderOption:hover, .dialog_content input[type="submit"]:hover, #listButton:hover, #gridButton:hover,
.optionButton.selected, #actions:hover, .wbtn:hover, .gbtn:hover {
  background-color: #222 !important;
  color: #fff !important;
  box-shadow: none !important}

button#createaccountbtn:hover, a#login:hover, #loginView #logInButton:hover {background-color: #af0806 !important}

a#cpwbtnmini {background: none !important; box-shadow: none !important}

#mainMenu a {color: #000 !important}

.tileTable, .siteDialogContent .addSiteFavicon {background: #333 !important}
}

/*----- OTHER FIXES FOR BETTER LINUX COMPATIBILITY (By DallasBelt) -----*/
.dialogContent.dialogContentFixed {background: #333 !important}

.addItemCardName, {color: #aaa !important}

.addItemCard:hover {
  box-shadow: none !important;
  background-color: #444 !important}

.addItemCard:hover .addItemCardName {color: #fff !important}

#addItemCustomOptionsLabel {color: rgb(209, 47, 46, .6) !important}

#addItemCustomOptionsLabel:hover {color: rgb(209, 47, 46, 1) !important}

.emptyVaultWrapper {background: #444 !important}

#displayGenerateContainer, .extension-dialog, .history-background {background-color: #505050 !important}

.historyTable > thead > tr > th, .historyTable > tbody > tr > td {
    background-color: #444 !important; 
    color: #aaa !important;
    border-bottom: 1px solid #333 !important;}

.history-background {border-top: 1px solid #333 !important}

#showHistory, #clearHistory {color: rgb(255, 255, 255, 0.6) !important}

#showHistory:hover, #clearHistory:hover {color: rgb(255, 255, 255, 1) !important}

.extension-dialog .content .first-col {border-right-color: #333 !important}

.extension-dialog .content #lengthInput {border-bottom: 1px solid #333 !important}

.extension-dialog #generatePasswordDialogDropdownAdvancedOptions input[type=range]::-moz-range-track {background: #333 !important}

.meter{border-color: #333 !important}

#password, #lengthInput {text-align: center !important}

/*fix for dropdown lists on Account Settings (filter on line 915 not applied, commented)*/
.dialogInput {background-color: #333 !important; color: #ddd !important}

/*fix for dropdown lists on Account Settings (filter on line 1232 not applied, commented)*/
.newstyle select {background-color: #333 !important}

/*----- MORE POPUP FIXES (By DallasBelt) -----*/
#searchContainer {background: #333 !important}

.searchInputContainer input {background: #222 !important; color: #ddd !important}

#mainMenu li, #mainMenu li a, .childView {background-color: #666 !important; color: #ddd !important; border: none !important}

#mainMenu li:hover, #mainMenu li a:hover {background-color: #707070 !important}

.omarSpacer {
    display: none !important}

.feature-omaria .extensionMenuItem.divider, .feature-omaria .extensionMenuItem.hover{border: none !important}

.contextOptionsDropdownElement {background-color: #222 !important; color: #ccc !important}

.contextOptionsDropdownElement:hover {background-color: #333 !important}

/*----- LASTPASS FIXES -----*/
@-moz-document url-prefix(moz-extension://TYPE-UUID-OF-LASTPASS-HERE/contentScript) {
html, body {background: transparent !important}
.arrow-box.a-top, .arrow-box.a-top::before {filter: invert(74%) !important}
}

/*----- LASTPASS IFRAMES -----*/
@-moz-document url-prefix(https://lastpass.com/sites_overview.php) {
html, #firsttop {background: #444 !important; color: #ccc !important}

#custombord {background: #555 !important}

#tilesinner img {filter: invert(70%) saturate(0) !important}

#tilesinner img:hover {filter: invert(70%) hue-rotate(190deg) !important}

.heading, .redtxt {color: #f55 !important}

#step1, #step2 {color: #777 !important}

#step1.selected, #step2.selected {color: #bbb !important}

#custompage2 {color: #ccc !important}
}

@-moz-document url-prefix(https://lastpass.com/acctsiframe.php) {
.tablabels, .settabdesc, .setbody, .setbottomdiv, .dialog_content {
	background: #555 !important; 
	color: #ccc !important}

a:link, a, .tablabel.tabactive, .emptyarr, #myaccount, #paymenthistory, #emailsubs, #googleauthbarcode2,
#googleauthbarcode, #googleauthview, #googleauthregenerate {color: #f55 !important}
a:hover, #myaccount:hover, #paymenthistory:hover, #emailsubs:hover, #googleauthbarcode2:hover,
#googleauthbarcode:hover, #googleauthview:hover, #googleauthregenerate:hover {color: #f88 !important}
a:active {color: #c30 !important}

.tablabels {border-color: #666 !important}

.row.advanced-background label {color: #fff !important}

.row.advanced-background, .col-12:not(#headerContainer) {background-color: #505050 !important}

.settabdesc, .setbody, .setbottomdiv {border-color: #ddd !important}

/* select {filter: invert(81%) hue-rotate(170deg) !important; color: #000 !important} */

.wbtn, .btn_midi.gray {
  border-radius: 3px !important;
  background-color: #666 !important;
  color: #ddd !important;
  border: none !important}

.nbtn {color: #fff !important}

button {border: none !important}

.wbtn:hover, .btn_midi.gray:hover {background-color: #222 !important; color: #fff !important}

.x-panel-tl, .x-panel-tr, .x-panel-tc, .x-panel-header {
	background: #444 !important; 
	color: #fff !important;
	border: none !important}

.x-panel-nofooter, .x-toolbar, .x-panel-ml, .x-panel-mr, .x-panel-mc,
.x-panel-bl, .x-panel-br, .x-panel-bc, #ext-gen45, .x-layer.x-menu, .x-date-bottom,
.x-date-inner th, .x-date-mp-btns {background: #666 !important; border: none !important}
.x-grid3-scroller, .x-panel-body, .x-grid3-viewport, .x-grid3,
.x-grid3-header, .x-date-inner, .x-date-mp {background: #555 !important; border: none !important}

.x-grid3-hd-row td, .x-grid3-hd-row, .x-menu-sep, .x-grid3-header-offset,
.x-date-inner span, .x-date-inner a {border: none !important}

.x-grid3-hd.x-grid3-cell, .x-grid3-header-inner,
.x-btn-with-menu, .x-btn-wrap.x-btn  {background-image: linear-gradient(#666,#333) !important; color: #ccc !important}
.x-grid3-hd.x-grid3-cell:hover {color: #222 !important}

.x-grid3-row, .x-date-inner td {border: none !important}
.x-grid3-row:nth-child(even) {background: rgba(0,0,0,0.1) !important}
.x-grid3-row-over, .x-date-inner a:hover, .x-date-mp-year a:hover,
.x-date-mp-month a:hover {background: rgba(255,255,255,0.1) !important}
.x-grid3-row-selected, .x-date-selected a, .x-date-mp-year.x-date-mp-sel a,
.x-date-mp-month.x-date-mp-sel a {background: rgba(255,255,255,0.2) !important; border: none !important}

.x-menu-list-item  img {filter: invert(100%) hue-rotate(195deg) !important}

.x-menu-list-item a, .x-btn-text, .x-date-inner th, .x-date-inner a, .x-date-mp a {color: #ccc !important}
.x-menu-list-item a:hover, .x-menu-item-active,
.x-grid3-hd.x-grid3-cell.x-grid3-td-0.sort-asc, .x-grid3-hd.x-grid3-cell.x-grid3-td-0.sort-desc,
.x-grid3-hd.x-grid3-cell.x-grid3-td-1.sort-asc, .x-grid3-hd.x-grid3-cell.x-grid3-td-1.sort-desc,
.x-grid3-hd.x-grid3-cell.x-grid3-td-2.sort-asc, .x-grid3-hd.x-grid3-cell.x-grid3-td-0.sort-desc,
.x-grid3-hd.x-grid3-cell.x-grid3-td-3.sort-asc, .x-grid3-hd.x-grid3-cell.x-grid3-td-3.sort-desc,
.x-grid3-hd.x-grid3-cell.x-grid3-td-4.sort-asc, .x-grid3-hd.x-grid3-cell.x-grid3-td-4.sort-desc,
.x-grid3-hd.x-grid3-cell.x-grid3-td-5.sort-asc, .x-grid3-hd.x-grid3-cell.x-grid3-td-5.sort-desc {color: #222 !important}

.x-paging-info {background: transparent !important; color: #fff !important}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), textarea, #sharedfoldername, #startinput,
#endinput {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

.gbtn {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #666 !important;
  color: #ddd !important;
  border: none !important;
  padding: 0.4em !important}

.gbtn:hover {
  background-color: #222 !important;
  color: #fff !important}

p {color: #ccc !important}

.settable {color: #ccc !important; border-color: #666 !important}

.settable tr:nth-child(odd):not(th) {
	background-color: #606060 !important}

.settable tr:nth-child(even) {background-color: #505050 !important}
}

@-moz-document url-prefix(https://lastpass.com/ads.php) {
html, body {background: #444 !important}
}

@-moz-document url-prefix(https://lastpass.com/formfill_overview.php), url-prefix(https://lastpass.com/share_overview.php),
url-prefix(https://lastpass.com/enterprise_overview2.php) {
html, #content, .clearfix, body, br {background: #444 !important}

p {color: #ccc !important}

img {filter: invert(70%) hue-rotate(190deg)}
}