/* You can find an updated version here: https://github.com/Izheil/Firefox-57-full-dark-theme-with-scrollbars */
/* Made by Izheil */
/* Last updated: 13/10/2018 */

/* This part imports the Addons file if there is one, so that you don't have to edit the dynamic URL
from the addons rules every time we update anything here */
@import 'addons.css';

/*------ COMMON PART FOR ALL FIREFOX PAGES ------*/
:root {

/* This is a little fix for all pages in case you have a dark OS theme, you can use a neutral color
like #7f7f7f (graish) or #2066dd (bluish) so that the letters can be seen in either a white or dark background for 
text-inputting things. Leave as "none" for default letter color. */
/*	--text-color-for-input-fields: #777;

/* You can put the url of an image that you want to be used as background for the about:home page.
To use, instead of "none;", type: url("URL-OF-THE-IMAGE-GOES-HERE"); <- Don't forget the ending semicolon! */
	--home-background-image: none;

/* These change some Firefox pages colors (Mainly used for the 404 error page) */
	--in-content-page-color: #ccc !important;
	--in-content-page-background: #222 !important;
	--in-content-text-color: #ccc !important;
	--in-content-box-background: #444 !important;
	--in-content-box-background-hover: #555 !important;
	--in-content-box-background-active: #333 !important;
	--in-content-box-border-color: #777 !important;
	--in-content-primary-button-background: #05a !important;
	--in-content-primary-button-background-hover: #0040aa !important;
	--in-content-primary-button-background-active: #002070 !important;

	/* Variable to change most pages context menu highlights */
	--in-content-context-highlight: #25a;

	/* This changes context menu background colors. The last number changes the opacity %. 
	Change that 1 for 0.9 for semitransparent backgrounds */
	--in-content-context-background: rgba(68,68,68, 1); 

	/* Variable to change the about:addons page extension names color */
	--addons-addon-name: #38f;
	--addons-addon-name-active: #0ef;

	/* Variables to change all link colors on most pages */
	--in-content-link-color: #09f !important;
  	--in-content-link-color-hover: #0ff !important;
  	--in-content-link-color-active: #0070aa !important;
  	--in-content-link-color-visited: #0050aa !important;
	
	/* These change the selected categories color on sidebars on about: pages*/
	--in-content-category-text-selected: #0a84ff !important;
	--in-content-category-text-selected-active: #0060df !important;

	/* These change some colors on about:home */
	--home-text: #50AAFF;
	--home-search-engine-choices: linear-gradient(#559,#115);
	--Home-search-item-text-color: #0ff;

	/* This one changes the border of all boxes with a blue border focus effect */
	--in-content-border-focus: #2066dd !important;

	/* Buttons background colors */
	--button-background: #05a;
	--button-background-hover: #0040aa;
	--button-border: #0040aa}

/*------ FILE BROWSING PAGE ------*/
/* This was placed here for bug fixing of styles overriding when testing things, for the 
coloring part, go to the common part for all firefox pages (if you use a global userstyle,
you don't even need these, so just comment it all out).*/
@-moz-document url-prefix(file://) {
:root {background-color: #202020 !important; color: #ccc !important}

/* COMMENT OUT THIS SECTION IF BROWSING LOCAL HTML PAGES */
body:not([style="margin-bottom: 8px !important;"]) {
	background: #333 !important;
	border: none !important}

pre {padding: 1em !important}

h1 {color: #fff !important; border-bottom: none !important}
tbody > tr:hover {outline: 1px dotted #777 !important}
.ellipsis tr:hover {outline: none !important}

#UI_goUp a.up:link, a.file:link, a.dir:link {color: #09f !important}
#UI_goUp a.up:visited, .ellipsis a.file:visited, .ellipsis a.dir:visited {color: #0070aa !important}
#UI_goUp a.up:hover, .ellipsis a.file:hover, .ellipsis a.dir:hover {color: #0ff !important}
#UI_goUp a.up:active, .ellipsis a.file:active, .ellipsis a.dir:active {color: #0050dd !important}

th {color: #ddd !important}
td {color: #aaa !important}}

/*------ INPUT BOXES TEXT ------*/

/* This changes the input fields text color (fix for custom OS themes) *//*
@-moz-document url-prefix(http){
form select, input[type=text], input[type=email], input[type=password], input[type=date], 
input[type=datetime-local], input[type=time], input[type=week], input[type=month], 
input[type=number], input[type=search], input[type=tel], input[type=url], textarea 
{color: var(--text-color-for-input-fields) !important}
}

/*------ END OF INPUT BOXES TEXT ------*/

/* This part covers the preferences page update scrollbox (No, I couldn't put it inside the preferences section) */
#historyItems .scrollbox-innerbox {background-color: #444 !important}

.update-name {color: #20dd20 !important}
.update-type {color: #FA0 !important}

.tab-middle, .treecol-text {color: #FFF !important}

/* This part covers all the dialog boxes backgrounds */
dialog, window, .prefpane, 
.prefwindow, .windowDialog {
 	background-color: #202020 !important;
 	color: #ccc !important}
 	
/* This changes the "add certificate exception" dialog background color */
#badCertAdvancedPanel {background-color: #303030 !important}

.exceptionDialogButtonContainer {background-color: #252525 !important}

/* This should change the "not found" page image colors */

.connectionFailure #errorPageContainer:not(.button-container),
.netInterrupt #errorPageContainer:not(.button-container),
.netTimeout #errorPageContainer:not(.button-container),
.netReset #errorPageContainer:not(.button-container),
.netOffline #errorPageContainer:not(.button-container),
.dnsNotFound #errorPageContainer:not(.button-container),
.malformedURI #errorPageContainer, #lic-info .license-header:not(a) {filter: invert(98%) hue-rotate(200deg)}

/* This fixes the inverted colors caused by the image filter (since I couldn't directly filter 
only the images */
.connectionFailure #errorPageContainer .button-container,
.netInterrupt #errorPageContainer .button-container,
.netTimeout #errorPageContainer .button-container,
.netReset #errorPageContainer .button-container,
.netOffline #errorPageContainer .button-container,
.dnsNotFound #errorPageContainer .button-container,
.malformedURI #errorPageContainer .button-container,
.connectionFailure #errorPageContainer #text-container,
.netInterrupt #errorPageContainer #text-container,
.netTimeout #errorPageContainer #text-container,
.netReset #errorPageContainer #text-container,
.netOffline #errorPageContainer #text-container,
.dnsNotFound #errorPageContainer #text-container,
.malformedURI #errorPageContainer #text-container, 
#lic-info .license-header p, #lic-info .license-header h1 {filter: invert(98%) hue-rotate(-200deg)}

#errorPageContainer #text-container h1 {color: #1C7BFF !important}

#startPrivateBrowsing {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #666 !important;
  color: #ddd !important;
  padding: 2px !important}

#startPrivateBrowsing:hover {
  background: #333 !important;
  color: #fff !important}

/*------ LOG BROWSING PAGE (about:sync-log) ------*/
@-moz-document url-prefix(about:sync-log) {
html {background-color: #202020 !important}

body {background: #333 !important; border: 1px solid #111 !important}

h1 {color: #fff !important; border-bottom: none !important}
tbody > tr:hover {outline: 1px dotted #777 !important}
.ellipsis tr:hover {outline: none !important}

#UI_goUp a.up:link, a.file:link, a.dir:link {color: #09f !important}
#UI_goUp a.up:visited, .ellipsis a.file:visited, .ellipsis a.dir:visited {color: #0070aa !important}
#UI_goUp a.up:hover, .ellipsis a.file:hover, .ellipsis a.dir:hover {color: #0ff !important}
#UI_goUp a.up:active, .ellipsis a.file:active, .ellipsis a.dir:active {color: #0050dd !important}

th {color: #ddd !important}
td {color: #aaa !important}}

/*------ VIEW SOURCE ------*/
@-moz-document url-prefix(view-source:){
html {
	background: #222 !important;
	color: #ccc !important}

.attribute-name {color: #093 !important}
.start-tag, .end-tag {color: #f93 !important}
.attribute-value {color: #09f !important}
}

/*------ HOME/NEWTAB PAGE (About:home, about:newtab) ------*/ 
@-moz-document url-prefix(about:home), url-prefix(about:newtab) {

body { 
 	background-color: #202020 !important;
    color: var(--home-text) !important;
    overflow: auto !important}

/* Context menus of the web area */
.context-menu {
	background-color: #505050 !important;
	color: #ccc}

.context-menu > ul > li > a:hover, .context-menu > ul > li > a:focus {
	background-color: var(--in-content-context-highlight) !important}

/* Context menus of the about information area */
.info-option {background-color: #444 !important; border: 1px solid #000 !important}
.info-option::before {filter: invert(73%) !important}

.info-option-manage button {color: var(--in-content-link-color) !important}

.info-option-manage button:hover {color: var(--in-content-link-color-hover) !important}
.info-option-manage button::after {fill: var(--in-content-link-color) !important}

/* The preferences button */
.prefs-button .icon.icon-settings {fill: #ddd !important}

.prefs-button button:hover, .prefs-button button:focus {background-color: rgba(255,255,255,0.2) !important}

/* The popups part starts here */
.modal-overlay {background: #000 !important}

.modal {
 	background: #222 !important;
    border: 1px solid #555 !important}

/* The cards borders part starts here */
.card-outer .context-menu-button, .top-sites-list .top-site-outer .context-menu-button {
    background-color: #555 !important;
    border: 1px solid #333 !important;
    fill: rgba(170, 170, 170, 0.8) !important}

.top-sites-list .top-site-outer > a.active .tile, .top-sites-list .top-site-outer > a:focus .tile, 
.card-outer > a.active .card, .card-outer > a:focus .card 
{box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 5px #000 !important}

.top-sites-list .top-site-outer:hover .tile, .top-sites-list .top-site-outer:focus .tile, 
.top-sites-list .top-site-outer.active .tile, .card-outer:-moz-any(:hover, :focus, 
.active):not(.placeholder) 
{box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 5px #555 !important}

/* No need to say this goes for the buttons */
.actions button {
    background: #666 !important;
    border: none !important;
	color: #fff !important}

.actions button:hover {box-shadow: 0 0 0 5px #666 !important}
.actions button.done:hover {box-shadow: 0 0 0 5px #0a50AA !important}

.actions button.done {
    background: #0a50AA !important;
    border: solid 1px #0a50AA !important}

/* Search box style */
#newtab-search-text[keepfocus="true"] {
	box-shadow: 0 0 4px 0 var(--in-content-border-focus) !important;
	border: 1px solid var(--in-content-border-focus) !important}

#newtab-search-text {
	color: var(--home-text) !important}

.search-label {fill: var(--in-content-border-focus) !important}

#searchSuggestionTable {-moz-appearance: none !important}

.contentSearchSuggestionsTable {
    background-color: #444 !important}

.contentSearchSuggestionsList {
	background-color: #505050 !important;
    color: #ccc !important}

.contentSearchOneOffsTable {border-top: 1px solid #000 !important}

.contentSearchSuggestionTable .contentSearchOneOffsTable .contentSearchSuggestionsContainer {
	background: var(--home-search-engine-choices) !important}

.contentSearchSuggestionsList .contentSearchSuggestionRow:hover,
.contentSearchSuggestionsList .contentSearchSuggestionRow.formHistory.selected {background: rgba(255,255,255,0.1) !important; color: #fff !important}

.contentSearchSuggestionTable .contentSearchHeader, .contentSearchSuggestionTable .contentSearchSettingsButton {border-color: #000 !important}

.contentSearchOneOffItem:not(.last-row) {border-bottom: 1px solid #000 !important}

.contentSearchSuggestionsContainer button:hover {background: rgba(255,255,255, 0.25) !important}

.contentSearchHeader {
 	background: #333 !important;
 	color: #777 !important;
 	border-bottom: 1px solid #000 !important}

.contentSearchSearchWithHeaderSearchText {
	color: var(--Home-search-item-text-color) !important}

.contentSearchSettingsButton {
    background: linear-gradient(#333,#111) !important;
    color: #777 !important}

.contentSearchSettingsButton.selected {
    color: #555 !important}

.contentSearchSettingsButton:active {
    background: linear-gradient(#111,#333) !important}

.search-button {
	fill: var(--in-content-border-focus) !important}

/* Firefox news at the bottom of the screen snippets */
#snippets-container, input {
	background-color: #151515 !important}

#snippets-container p {
	color: var(--home-text) !important}

.snippet p em {
	background: transparent !important;
	font-weight: 900 !important;
	color: var(--home-text) !important}

.monthly-checkbox-label {color: #ccc !important}

.block-snippet-button {
	filter: invert(50%) !important}

.button-link {
	background-color: #0aAA50 !important;
	color: #FFF !important;
	border: 1px solid #090 !important}

.button-link:hover {
	background-color: #0bbb60 !important;
	color: #FFF !important;
	border: 1px solid #090 !important}

.button-link:active {
	background-color: #099940 !important;
	color: #FFF !important;
	border: 1px solid #090 !important}

.button.donation-amount.donation-amount-first, .button.donation-amount.donation-amount-second,
.button.donation-amount.donation-amount-third, .button.donation-amount.donation-amount-fourth {
	background-color: #444 !important;
	color: #fff !important;
	border: 1px solid #333 !important}

#snippets-container .button-selected {
	background-color: #222 !important;
	border: 1px solid #0084ff !important}

/* Edit top sites */
input[type=text] {color: #aaa !important}

.edit-menu button.icon.icon-unpin, .edit-menu button.icon.icon-pin, 
.edit-menu button.icon.icon-edit, .edit-menu button.icon.icon-dismiss {
	background-color: #555 !important;
	border-right: none !important}

.edit-menu button.icon.icon-edit, .edit-menu button.icon.icon-dismiss {
	border-left: 1px solid #333 !important}

.edit-menu {border: 1px solid #333 !important; background-color: #555 !important}

.edit-menu button.icon.icon-unpin:hover, .edit-menu button.icon.icon-pin:hover, 
.edit-menu button.icon.icon-edit:hover, .edit-menu button.icon.icon-dismiss:hover {
	background-color: #777 !important}

.section-title span, .title span, .card-details p, .form-input-container label span {color: #ccc !important}
.card-details h4 {color: #ddd}

.actions {border-top: 1px solid #666 !important}

.form-wrapper input:hover {border: 1px solid #0084ff !important}

/* Tour pop-up */
#onboarding-overlay {
	background: rgba(0,0,0,0.5) !important}

#onboarding-overlay-dialog {
	background: #333 !important;
	border: 1px solid rgba(0, 0, 0, 0.2)}

#onboarding-overlay p, #onboarding-overlay li.onboarding-tour-item-container span:not(.onboarding-active) {
	color: #aaa !important}

#onboarding-overlay header, #onboarding-overlay h1 {color: #FFF !important}

#onboarding-skip-tour-button {
	background: #222 !important;
	color: #ddd !important;
	border: 1px solid #111 !important}

#onboarding-skip-tour-button:hover {background: #444 !important}

#onboarding-skip-tour-button:active {background: #111 !important}

#onboarding-overlay img {filter: invert(90%) hue-rotate(200deg)}

/* This adds a background image of your choice in the main area 
Delete the final /* to use -> */
body {
  background-image: var(--home-background-image) !important;
  background-size: cover !important;
  background-position: center !important}

.prefs-pane .sidebar, .card-outer, .prefs-pane .prefs-modal-inner-wrapper .options, 
.sidebar .actions, #snippets-container, .collapsible-section.top-sites.animation-enabled.active,
.collapsible-section.section.animation-enabled.active {
	background: rgba(0,0,0,0.6) !important}

.context-menu-button.icon {fill: #aaa !important}
}

/*------ COMMON ATTRIBUTES ON MOST ABOUT PAGES ------*/
@-moz-document url(about:about), url(about:), 
url(https://www.mozilla.org/credits/), url-prefix(about:cache),
url-prefix(about:checkerboard), url-prefix(about:plugins), 
url-prefix(about:buildconfig), url-prefix(about:support), 
url-prefix(about:profiles), url(about:crashes), url(about:license),
url-prefix(about:memory), url-prefix(about:networking), url(about:performance),
url(about:rights), url(about:robots), url-prefix(about:studies), 
url-prefix(about:telemetry), url(about:url-classifier), url(about:webrtc),
url(about:devtools), url(about:serviceworkers) {

p, pre, li, label {color: #AAA !important}
h1 {color: #1C7BFF !important}
h2 {color: #ddd !important}
h3 {color: #ddd !important}

button {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: var(--button-background) !important;
  color: #ddd !important;
  border: 1px solid var(--button-border) !important;
  padding: 0.5em !important}

button:hover {
	background: var(--button-background-hover) !important;
    color: #FFF !important}

textarea {
	-moz-appearance: none !important;
	background: #333;
	color: #aaa;
	border: 1px solid #444}

#action-box {background-color: #333 !important}
}

/*------ ABOUT: PAGES WITH TABLES  ------*/
@-moz-document url-prefix(about:cache), url-prefix(about:plugins), 
url-prefix(about:buildconfig), url-prefix(about:networking),
url-prefix(about:telemetry) {

th {background: #333 !important; 
	color: #fff !important;
	outline: 1px solid #000 !important;
	padding-left: 4px !important}

td {background: #555 !important; 
	color: #ddd !important;
	outline: 1px solid #000 !important;
	border: none !important;
	padding-left: 4px !important}}

/*------ BACKGROUND OF MOST ABOUT PAGES  ------*/
@-moz-document url(about:), url(about:about), url(https://www.mozilla.org/credits/),
url-prefix(about:checkerboard), url(about:accounts), url-prefix(about:cache), 
url-prefix(about:plugins), url-prefix(about:buildconfig), url-prefix(about:memory),
url-prefix(about:support), url-prefix(about:profiles), url(about:robots), url(about:serviceworkers),
url(about:webrtc) {
body, html {background-color: #202020 !important}}

/* Fix for Ublock Origin Element picker */
@-moz-document url(about:blank) {
	html, body {background: #222}}

/*------ PAGES WITH PLAIN TEXT OVER BACKGROUND  ------*/
@-moz-document url(about:about), url-prefix(https://www.mozilla.org/credits/), 
url-prefix(about:credits), url(about:devtools), url(about:license), 
url-prefix(about:crashes), url(about:rights), url(about:serviceworkers) {
.container, #reportListUnsubmitted, #reportListSubmitted,
#aboutPageContainer, #welcome-page .box, #welcome-page .features,
#lic-info, #serviceworkers {
	padding: 3em !important; 
	background: #363636 !important; 
	border-radius: 6px !important}

#reportListSubmitted, #welcome-page .features {
	margin-top: 1em !important;
	margin-bottom: 1em !important}

#welcome-page .features {border-top: none !important}

#welcome-page .left-pane {filter: invert(98%) hue-rotate(200deg) !important}

tbody > tr:hover {outline: 1px dotted #777 !important}}

/*------ CONTEXT MENUS FOR ALL ABOUT: PAGES ------*/
@-moz-document url-prefix(about:) {

/* This changes the color of the context menus */
menuitem, menu {
	color: #ccc !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important}

menupopup {
	-moz-appearance: none !important;
	background-color: var(--in-content-context-background) !important;
	border: 1px solid #111 !important}

/* This changes the text of disabled items */
menuitem[disabled="true"],
menu[disabled="true"] {color: #777 !important}
	
/* This changes the color on hover of the context-menu items */
menuitem:hover,
menu:hover {
	-moz-appearance: none !important;
	background-color: var(--in-content-context-highlight) !important}

/* This does the same but for disabled ones */
menuitem:hover[disabled="true"],
menu:hover[disabled="true"] {
	-moz-appearance: none !important;
	background-color: #333 !important}

/* Context menu separator color override */
menuseparator {
  -moz-appearance: none !important;
  margin: 1px 0 1px 2.3em !important;
  height: 1px !important;
  border: none !important;
  background: #222 !important;
  padding: 0 !important}}

/*------ ABOUT: PAGE (about:) ------*/
@-moz-document url(about:), url(https://www.mozilla.org/credits/) {
#aboutPageList {color: #ddd !important}}

/*------ DIVS OVER BACKGROUND PAGES ------*/
@-moz-document url(about:robots), url(about:serviceworkers),
url-prefix(about:studies), url(about:webrtc) {
#stage, #errorPageContainer, .warningMessage,
.info-box-content, .stats, .log {background: #333 !important; border: 1px solid #111 !important}
.fold-trigger {color: #fff !important}
}

/*------ SERVICE WORKERS PAGE (about:serviceworkers) ------*/
@-moz-document url(about:serviceworkers) {
#warning_no_serviceworkers {background: #222 !important}
.warningMessage {color: #ddd !important}
}

/*------ CACHE PAGE (about:cache) ------*/
@-moz-document url-prefix(about:cache){
#submit {
	-moz-appearance: none !important;
	background: linear-gradient(#2050AA, #203050) !important;
    color: #FFF !important;
    padding: 0.5em;
	border: 1px solid #0050aa !important}

#submit:hover {
	background: linear-gradient(#203050, #2050AA) !important;
    color: #0FF !important}

#appid {
	-moz-appearance: none !important;
	background: #333;
	border: 1px solid #555;
	color: #ddd}

table#entries tr:nth-child(even) {background-color: #151515 !important}
}

/*------ CHECKERBOARD PAGE (about:checkerboard) ------*/
@-moz-document url-prefix(about:checkerboard) {
#raw {color: #aaa !important}

th {background: #444 !important}
td {background: #666 !important}
}

/*------ NETWORKING PAGE (about:networking) ------*/
@-moz-document url-prefix(about:networking), url-prefix(about:telemetry) {

.category {color: #ddd !important; font-weight: bold !important}
.category[selected="true"], .category.selected {color: var(--in-content-category-text-selected) !important}

select {border: 1px solid #111 !important}

#ping-picker {
	background-color: #333 !important; 
	border: 1px solid #111 !important}

#categories, #category-raw {background: #444 !important}
#categories {margin-bottom: 0 !important}
}

/*------ RIGHTS PAGE (about:rights) ------*/
@-moz-document url-prefix(about:rights){
.rights-header {filter: invert(98%) hue-rotate(200deg) }
.rights-header div {filter: invert(98%) hue-rotate(-200deg)}
}
/*------ DEBUGGING PAGE (about:debugging) ------*/
@-moz-document url-prefix(about:debugging) {

/* This affects the categories part */
#categories {background-color: #303030 !important}

#categories button {
	background-color: #303030 !important;
	color: #fff !important}

#categories button:hover {background-color: #252525 !important}

#categories button.selected {color: var(--in-content-category-text-selected) !important}

/* This affects the main content part */
.target-list .addon-target-container {background-color: #303030 !important}

.main-content button {
    background: var(--button-background) !important;
    color: #ddd !important;
    border: 1px solid var(--button-border) !important}

.main-content button:hover {
	background: var(--button-background-hover) !important;
    color: #FFF !important;
	text-decoration: none !important}

.addons-tip-icon {filter: invert(100%) !important}

/* These are the alert message that appears on the "workers" category, and the status notice */
.service-worker-multi-process {
	background-color: #a44 !important; 
	color: #ddd !important;
	border-radius: 6px !important}

span.target-status {background-color: #151515 !important}
}

/*------ CONFIGURATION PAGE (about:config) ------*/
@-moz-document url(about:config) {
:root {
	--in-content-page-color: #aaa !important;
	--in-content-page-background: #202020 !important;
	--in-content-primary-button-background: #d55 !important;
	--in-content-primary-button-background-hover: #d22 !important;
	--in-content-primary-button-background-active: #D00 !important;
	--in-content-text-color: #0da !important;
	--in-content-item-selected: #4080CC !important;
	--in-content-box-background: #333 !important;
	--in-content-box-background-hover: #444 !important;
	--in-content-box-background-active: #555 !important}

#configTreeBody::-moz-tree-row(odd) {
	background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)) !important}

/* Warning pre-title before the actual config page (D'uh) */
#warningTitle {color: #FFF !important}}

/*------ PLUGINS PAGE (about:plugins) ------*/
@-moz-document url-prefix(about:plugins), url-prefix(about:buildconfig) {
.notice {
	background-color: #101010 !important;
	color: #FA0 !important}

.notice a:link {color: #4080CC !important}

dl {color: #ddd !important}}

/*------ MEMORY LOAD PAGE (about:memory) ------*/
@-moz-document url-prefix(about:memory){
.opsRow {
	background-color: #303030 !important;
	color: #AAA !important;
	border: 1px solid #111 !important}
}

/*------ DOWNLOADED FILES PAGE (about:downloads) ------*/
@-moz-document url(about:downloads){
:root {
	--in-content-page-background: #202020 !important;
	--in-content-text-color: #aaa !important;
	--in-content-box-background: #404040 !important;
	--in-content-box-border-color: #777 !important}}

/*------ INFORMATION PAGES WITH TABLES ------*/
@-moz-document url-prefix(about:support), url-prefix(about:profiles), 
url(about:performance), url(about:url-classifier) {

:root {
	--in-content-table-header-background: #333 !important;
	--aboutSupport-table-background: #555 !important;
	--aboutProfiles-table-background: #555 !important;
	--in-content-link-color-hover: #0FF !important;
	--in-content-box-border-color: #aaa !important;
	--in-content-table-border-dark-color: #000 !important;
	--in-content-border-color: #000 !important}

td {background: #555 !important}

.page-subtitle {color: #ddd !important}

#profiles hr {display: none !important}
}

/*------ SETTINGS/ADDONS COMMON PART (about:preferences, about:addons) ------*/
@-moz-document url-prefix(about:preferences), url-prefix(about:addons){

/* Sidebar */
:root {
	--in-content-page-background: #202020 !important;
	--in-content-category-text: #fff !important;
	--in-content-text-color: #fff !important;
	--in-content-selected-text: #000 !important;
	--in-content-item-selected: var(--in-content-category-text-selected) !important;
	--in-content-item-hover: rgba(0,90,170,0.25) !important;
	background-color: #303030 !important}

/* Main Content */
.main-content {
 	background-color: #202020 !important;
    color: #AAA !important}

.groupbox-title, 

/* These last two apply to some general panel labels in the preferences page (if 
it's updated and if its the default browser) */
#isDefaultLabel, #updateBox {color: #FFF !important}

/* Search Panel, Dialog boxes and inputs in general */
#engineList, .dialogBox > .groupbox-title, #browserHomePage,
#searchInput {background-color: #303030 !important}
}

/*------ SETTINGS PAGE (about:preferences) ------*/
@-moz-document url-prefix(about:preferences){

.dialogBox {background-color: #202020 !important}

/* Selector tables */
#applicationsGroup richlistitem[selected="true"] {
	background-color: rgba(255,255,255, 0.2) !important;
	color: #0FF !important}

/* Search bar images on "search" category */
image.searchBarImage {filter: invert(92%) hue-rotate(180deg)}

/* This changes some of the buttons color */
.accessory-button, button {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: var(--button-background) !important;
  color: #ddd !important;
  border: 1px solid var(--button-border) !important}

.accessory-button:hover, button:hover {
	background: var(--button-background-hover) !important;
    color: #FFF !important}

treecol {
	background-color: #555 !important;
	color: #FFF !important}

treecol:hover {background-color: #666 !important}

.fxaSyncIllustration, #fxaNoLoginStatus .fxaProfileImage {filter: invert(98%) hue-rotate(200deg)}
}

/*------ EXTENSIONS PAGE (about:addons) ------*/
@-moz-document url-prefix(about:addons){

/* Context menus*/
#header-utils-btn .scrollbox-innerbox,
.arrowscrollbox-scrollbox {background-color: #444 !important}

/* This changes some of the buttons color */
.accessory-button, button, #header-utils-btn {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #555 !important;
  color: #eee !important;
  border: none !important}

#header-utils-btn {fill: black !important}

.accessory-button:hover, button:hover, 
#header-utils-btn:hover {
	background: #333 !important;
    color: #FFF !important}

.description-outer-container .button-link {
	background: transparent !important;
	color: var(--in-content-link-color) !important}

.description-outer-container .button-link:hover {color: var(--in-content-link-color-hover) !important}
.description-outer-container .button-link:active {color: var(--in-content-link-color-active) !important}

.addon {color: #aaa !important}

.addon:hover {background-color: #151515 !important}

.content-inner-container .basicinfo-container {color: var(--addons-addon-name) !important}
.addon.addon-view[selected="true"] .basicinfo-container {color: var(--addons-addon-name-active) !important}

.addon.addon-view[active="false"] .basicinfo-container, 
.addon.addon-view[active="false"] .description {color: #888 !important}

.addon.addon-view[selected="true"] {color: #FFF !important}

/* This changes the background highlight color of uninstalled extensions */
.addon-view[pending="disable"], .addon-view[pending="uninstall"] {
    --view-highlight-color: #000 !important}

/* Should be self explanatory... but this is the alert message that goes over the addons list */
.alert {
	background-color: rgba(255,255,255,0.10) !important ;
	color: #Fff !important}

/* Description of the addons/themes */
.detail-view-container {color: #aaa !important}

#detail-contributions {
	background-color: rgba(0,0,0,0.15) !important; 
	border: 1px solid #444 !important}

#detail-rows * {text-shadow: none !important}

#detail-rows .detail-row-label {color: #fff !important}

#detail-contrib-description {color: #aaa !important}

#addon-options {
	border: 1px solid #aaa !important;
	border-radius: 15px !important;
	background-color: #555 !important;
	color: #ddd !important}
}

/* This is still in the addons page, it's the "discover" page thing */
@-moz-document url-prefix(https://addons-discovery.cdn.mozilla.net), url-prefix(https://discovery.addons.mozilla.org) {

.disco-content h1, .content h2 {color: #FFF !important}

.disco-content p, .content p, .content blockquote {color: #AAA !important}

#react-view {background-color: #202020 !important}

.addon.theme, .addon.extension, .addon.theme {background-color: #303030 !important}
}

/*------ HEALTHREPORT PAGE (about:healthreport) ------*/
@-moz-document url-prefix(https://fhr.cdn.mozilla.net/){
.headerContainer, .persistentHeader {
	background: #222 !important;
	color: #ddd !important}

.sidebar, #health, body, .tipBox-container {
	background: #333 !important;
	color: #ddd !important}

li {color: #ddd !important}

span, .statsBoxSection-header {color: #fff !important}

.tipBox-header {
	background: #444 !important;
	color: #ddd !important}

.tipBox-content {background: #555 !important}
}

/*------ MOZILLA ADDONS PAGE (Includes both the new and the old) ------*/
@-moz-document url-prefix(https://addons.mozilla.org) {

html, .App-content, tr.LanguageTools-table-row:nth-child(even), 
#main-wrapper, #search-tools-sidebar, .primary, .secondary, #search-tools-sidebar li a, body.restyle,
.Card-footer, .Paginate 
{background: #202020 !important}

#footer {
    background-color: #202020 !important;
    background-image: linear-gradient(to bottom,#202020 0,#202020 123px,
    	#000 123px,#000 200px,#101010 200px,rgba(90,90,90,0) 400px) !important}

.listing-header, .listing .item, .object-lead, .listing-footer {
	background: linear-gradient(#202020, #333) !important;
	border-bottom: 1px solid #000 !important}	

#search-tools-sidebar {border-radius: 0px !important}

#react-autowhatever-1 * {background-color: #444 !important}

.Hero .Card-contents, .Home-SubjectShelf .Card-contents, 
.CardList .Card-header, .CardList .Card-contents, a.SearchResult-link, 
.Card-contents, .Card-Header, ul.AddonsCard-list li.SearchResult, ul.AddonsCard-list,
.ExpandableCard .Card-header, span .Paginate-item.disabled.Paginate-previous,
.Card-header, .Card-footer-text, .Card-footer-link, a.ShowMoreCard-expand-link,
a.Addon-all-reviews-link, .MetadataCard, .Card-contents ul li, .LandingPage-header,
.highlight, .AutoSearchInput-query  {
	background-color: #303030 !important;
	color: #ccc !important}

.HeroSection-content {color: #fff !important}

.Search .AddonsCard-list .SearchResult {border-bottom: 1px solid #000 !important}

.PermissionsCard-list .Icon {filter: brightness(700%) !important}

.extra .button.disabled.not-available {background-color: #444 !important; border: 1px solid #555 !important}

#search-facets .facets {background: transparent !important}

#search-facets .facets .facet.active, #search-facets .facets .facet, 
#sorter > ul > li.extras ul, #sorter > ul > li.extras a:hover {background-color: #444 !important; border: 1px solid #555 !important}
#search-facets .facets .facet.active, #search-facets .facets .facet:hover,
#sorter > ul > li.extras > ul > li > a:hover {background-color: #333 !important}

button:not(.pswp__button):not(.pswp__ui):not(.AutoSearchInput-submit-button):not(.Icon-arrow):not(.DropdownMenu-button), 
.PermissionCard-learn-more, .AddAddonToCollection-select {
	background-color: #555 !important;
	color: #FFF !important}

button:not(.pswp__button):not(.pswp__ui):not(.AutoSearchInput-submit-button):not(.Icon-arrow):not(.DropdownMenu-button):hover, 
.PermissionCard-learn-more:hover, .AddAddonToCollection-select:hover {
	background-color: #444 !important;
	color: #1494FB !important}

.other-categories .divider {border-top: 1px dotted #000 !important}

.listing-footer {border-top: 1px solid #000 !important}

.item .item-info {
    border-left: 1px dotted #000 !important;
}

button.DropdownMenu-button, button.TooltipMenu-opener, 
button.SearchForm-submit-button, ul.LanguageTools-addon-list li,
#aux-nav > ul > li {background: transparent !important}

ul.DropdownMenu-items, ul.TooltipMenu-list, .TooltipMenu-arrow, 
ul.TooltipMenu-list li.ListItem, tr.LanguageTools-table-row:nth-child(odd) {
	background-color: #151515 !important;
	color: #ccc !important}

ul.TooltipMenu-list li.ListItem, ul.LanguageTools-addon-list li, .highlight 
{border: none !important}

th.LanguageTools-header-cell {background-color: #101010 !important}

.Home-SubjectShelf-link:active, .Home-SubjectShelf-link:focus, 
.Home-SubjectShelf-link:hover, a.Button.Categories-link:hover 
{color: #0d96ff !important}

.Home-SubjectShelf-link:link, .Home-SubjectShelf-link:visited 
{color: #343a40 !important}

a.SearchResult-link h2, span, label *, 
p, a, h4, h2, blockquote, li, .num-results 
{color: #ccc !important}

.header-bg {
    background-color: #000 !important;
    background-image: linear-gradient(to bottom,transparent 0,transparent 100px),
    linear-gradient(to bottom,rgba(90,90,90,0) 0,#555 500px,#fff 0),
    repeating-linear-gradient(118deg,rgba(12,153,213,0) 0,#444 550px,rgba(90,90,90,0) 550px,#444 800px,
    rgba(90,90,90,0) 800px,#444 950px) !important}

.Paginate .Paginate-item, li.p-popular {background-color: #303030 !important}

.Paginate .Paginate-item:disabled, .Paginate .Paginate-item.disabled, 
.Paginate .Paginate-item:hover, li.p-popular:hover, #search-tools-sidebar li a:hover,
.other-apps li a:hover, #site-search-suggestions a.sel, #site-search-suggestions a:hover, 
#site-search-suggestions.sel a.sel:hover, #site-search-suggestions li p a:hover, 
#other-apps ul.other-apps, #addon-list-options li:not(.selected) a:hover, 
.pagination li:not(.selected) a:hover, #aux-nav > ul > li:not(:first-child)::before, 
#addon-list-options li:not(.selected) a:focus, .pagination li:not(.selected) a:focus 
{background-color: #151515 !important}

a.SearchResult-link:hover h2, span:not(.Addon-author):hover, a:hover {color: #1494FB !important}

h2.Home-SubjectShelf-subheading, .CardList h2.Card-header, 
h1, .Paginate-page-number, .Badge, a.Button.Categories-link, .install a *, h3
{color: #FFF !important}

.install a.caution {text-shadow: 1px 1px red !important}

.install strong {color: #FA0 !important}

.AMInstallButton-button--uninstall {background-color: #882626 !important}
.AMInstallButton-button--uninstall:hover {background-color: #aa3333 !important; color: #fff !important}

input.SearchForm-query, select#SearchFilters-Sort, select#SearchFilters-AddonType, 
select#SearchFilters-AddonType, select#SearchFilters-OperatingSystem, select#language,
input#search-q {
	background-color: #222 !important;
	color: #FFF !important}

#site-search-suggestions .wrap, ul.other-apps {
    background: #151515 !important;
    border: 1px solid #101010 !important}

.Notice-generic {background-color: #555 !important}

.ShowMoreCard-contents::after 
{background: linear-gradient(rgba(48, 48, 48, 0.3), #303030) !important}
}

/*------ MOZILLA LOGIN PAGE (The login page inside https://addons.mozilla.org) ------*/
@-moz-document url-prefix(https://accounts.firefox.com) {

html, body {background-color: #202020 !important}

#stage.fade-in-forward .sign-in #main-content.card, #stage #main-content.panel {
	background-color: #303030 !important;
	color: #ccc !important}

form input, .show-password-label {
	background-color: #444 !important;
	color: #ccc !important}
}

/*------ MOZILLA SUPPORT PAGE (https://support.mozilla.org) ------*/
@-moz-document url-prefix(https://support.mozilla.org/) {

html, body {background-color: #202020 !important}

h1, h2 {color: #fff !important}
h3 {color: #ddd !important}
p:not(.main-content) {color: #ccc !important}

a:link {color: var(--in-content-link-color) !important}
a:visited {color: var(--in-content-link-color) !important}
a:hover {color: var(--in-content-link-color-hover) !important}
a:active {color: var(--in-content-link-color-hover) !important}

#announcements {background: transparent !important}
#announcements .announce-bar {background-color: #555 !important}

body > header {
	background: #666 !important;
	border-top: none !important;
	border-bottom: 1px solid #aaa !important;
	color: #ccc !important}

.logo, .footer-logo {filter: invert(100%) !important}

#aux-nav li a, .question-meta li, .asked-on, .asked-by,
.footnote, #selected-product, .inner-wrap .legend li, #tagged,
div {color: #ccc !important}
#aux-nav li a:hover {background-color: rgba(0,0,0,0.5) !important}

#main-breadcrumbs {background: #444 !important}
#main-breadcrumbs li:not(a), .card-grid > li > a,
.product-list .product a, .sidebar-header {color: #ccc !important}

.answers .notice, .karma-titles li, .warning, #toc, #doc-content .note, 
.tag-list a, .wiki-doc .vote-wrap {
	background-color: #333 !important; 
	color: #ccc !important;
	border: 1px solid #666 !important}

.main-content, #try-an-article, .grid_6 article, #pw-reset,
#retrieve-username, .hero-bar, .row .content-box, .highlight-box, .wiki-doc {
	background-color: #444 !important; 
	border-radius: 6px !important; 
	color: #ccc !important}

.main-content::before {filter: brightness(27%) !important}

.sidebar-nav > li > span, .sidebar-nav .sidebar-nav > li > span, 
.sidebar-nav .sidebar-nav > li > a, .sidebar-nav .sidebox, .sidebar-nav > li > a,
#email-subscribe-kbox, #showfor-panel,
#register-form {background-color: #444 !important; color: #ccc !important}
.sidebar-nav > li > span:hover, .sidebar-nav .sidebar-nav > li > a:hover {color: var(--in-content-link-color) !important}

.button-wrapper .btn, .button-wrapper .btn {color: #fff !important}

.sidebox.condensed {border-color: #373737 !important}

.card-grid > li, .card-grid > li::before, .bullet, .feature-box .inner-wrap, .product-list .product,
.sidebar-header, .questions > section, #top-contributors .feature-box {background: #444 !important}

.questions > section .thread-meta {background: #555 !important; border: none !important}

.feature-box .inner-wrap {border: none !important}

.sidebar-nav.sidebar-folding > li.selected > span, .feature-box, .sidebar-nav .selected a {border-color: #373737 !important}
.sidebar-nav.sidebar-folding > li.selected > span::before, .sidebar-nav .selected a::before {filter: brightness(25%) !important}

.sidebar-nav a:hover {background-color: #404040 !important; color: var(--in-content-link-color) !important}

.sidebar-nav > li.selected {border-bottom: #373737 !important}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], 
textarea {
	background: #333 !important; 
	color: #ccc !important}

#email-subscribe-kbox input[type="submit"], #retrieve-username input[type="submit"], 
#pw-reset input[type="submit"], .btn, span.button {
	background: linear-gradient(#2050AA, #203050) !important;
    color: #FFF !important;
    padding: 0.5em;
	border: 1px solid #0050aa !important;
	box-shadow: none !important}

#email-subscribe-kbox input[type="submit"]:hover, #retrieve-username input[type="submit"]:hover, 
#pw-reset input[type="submit"]:hover, .btn:hover {
	background: linear-gradient(#203050, #2050AA) !important;
    color: #0FF !important}

.questions #owner-tabs a.selected, .questions #owner-tabs a:hover.selected {background: #444 !important}

.questions #filter-section {background: linear-gradient(to bottom, #444,rgba(70,70,70,0.01)) !important}

footer {background: #111 !important}
}