/* You can find an updated version here: https://github.com/Izheil/Firefox-57-full-dark-theme-with-scrollbars */
/* Last updated: 30/11/2018 */

/* DO NOT DELETE THIS LINE */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* This enables the use of JS external files */
toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js");
}

/* This deletes the space that comes before the min/max/close button (space where you can place addons), but
after the tabs section */
.titlebar-placeholder[type="post-tabs"] {width: 10px !important}

/* SIDEBAR */

/* Allow sidebar to be closed completely using the slider */
#sidebar-box {overflow-x: hidden !important}

#sidebar {
  min-width: 0px !important;
  max-width: none !important;
  overflow-x: hidden !important}

/* URL bar */

/* This allows you to change the font of the url to prevent ULR spoofing with a more
differentiable font (Thanks to BelladonnavGF for the tip) */ 

/* v Delete the "/*" after this comment to use it */ 
  /*
#urlbar {font-family: Georgia !important}

/* TABS */

/* Tab bar below (You can set the order of each bar here. 1 for top, and 3 bottom) */

/* For best results, you should enable the "Title bar" when using this (or you won't be able
to use the close, minimize, and resize buttons */

/* #nav-bar is the ID for the URL bar, #PersonalToolbar the ID for the bookmarks bar, and
#TabsToolbar should be self-explanatory (The tabs on bottom are already set by default here) */

/* v Delete the "/*" after this comment to use it */ 
  /*
#nav-bar {-moz-box-ordinal-group: 1 !important}
#PersonalToolbar {-moz-box-ordinal-group: 2 !important}
#TabsToolbar {-moz-box-ordinal-group: 3 !important}

/* ROUNDED TABS */ 
/* v Delete the "/*" after this comment to use it */ 
  /*
.tab-background {
  border-radius: 15px 15px 0px 0px !important;
  border-image: none !important}

.tab-line {
  margin-left: 12px;
  margin-right: 12px} 

/* TAB CLOSE BUTTON ALWAYS VISIBLE */
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:not([pinned]) .tab-close-button {
  	visibility: visible !important;
  	display: block !important}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:not([pinned])[faviconized="true"] .tab-close-button {
  	visibility: collapse !important;
  	display: none !important}

/* MULTI-ROW BOOKMARKS TOOLBAR */

/* To use the scrolling multirow bookmarks you have to delete the /* under this line */
/*
#PersonalToolbar {
  min-height: 21px !important;
  max-height: calc(23px*(var(--bookmark-max-rows))) !important}

#PlacesToolbar, #PlacesToolbarItems {
  overflow: visible;
  display: block}

#PlacesToolbarItems > .scrollbox-innerbox {
    display: flex;
    flex-wrap: wrap; 
    overflow: auto;
    max-height: calc(23px*(var(--bookmark-max-rows))) !important}

/* CONTEXT MENU COMMANDS */

/* All of these commands are divided so that they can be explained, but they are all
part of the same rule */

/* Tabs context menu */

/* Reload tab *//*
#context_reloadTab,

/* Pin tab *//*
#context_pinTab,

/* Duplicate tab *//*
#context_duplicateTab,

/* Open tab in new window *//*
#context_openTabInWindow,

/* Separator from send tab to device *//*
#context_sendTabToDevice_separator,

/* Separator after the previous command */
#tabContextMenu menuseparator:nth-child(12),

/* Reload all tabs */
#context_reloadAllTabs, #toolbar-context-reloadAllTabs,

/* Bookmark all tabs */
#context_bookmarkAllTabs, #toolbar-context-bookmarkAllTabs,

/* Close all tabs to the right */
#context_closeTabsToTheEnd,

/* Close all other tabs */
#context_closeOtherTabs,

/* Close tab *//*
#context_closeTab,

/* Bookmark items context menu */

/* Open bookmark in new window *//*
#placesContext_open\:newwindow,

/* Open bookmark in new private window *//*
#placesContext_open\:newprivatewindow,

/* Open all tabs in a bookmark folder & it's separator */
#placesContext_openContainer\:tabs, 
#placesContext_open\:newprivatewindow[disabled="true"] + #placesContext_openSeparator,

/* Webarea context menu */

/* Navigation buttons (Back, forward and reload buttons) & it's separator */
#context-navigation, #context-sep-navigation,

/* Send image... */ 
#context-sendimage,

/* Set image as desktop background... */
#context-setDesktopBackground, 

/* Bookmark this page */ 
#context-bookmarkpage,

/* Send page... */ 
#context-sendpage,

/* Bookmark this link */ 
#context-bookmarklink,

/* Send link... */ 
#context-sendlink,

/* Search X on your default search engine and a missing separator */
#context-searchselect, #frame-sep,

/* Open link in a new tab */
#context-openlinkintab,
/* Open link in a new window */
#context-openlink,
/* Open link in a new private window */
#context-openlinkprivate,
/* Open link commands separator (should only disable if you don't use any of the "open link..." commands) */
#context-sep-open,

/* Take a screenshot & it's separator *//*
#screenshots_mozilla_org-menuitem-_create-screenshot,*/ #_context-media-eme-separator,

/* Send tab to device... (including it's separator) */
#context_sendTabToDevice, #context_sendTabToDevice_separator,

/* Send page to device... (including it's separator)*/ 
#context-sendpagetodevice, #context-sep-sendpagetodevice,

/* Send link to device... (including it's separator)*/ 
#contentAreaContextMenu #context-sendlinktodevice, #contentAreaContextMenu #context-sep-sendlinktodevice 
{display: none !important}
